<template>
  <div>
    <!-- Widgets -->
    <div v-for="(w, index) in widgets" :key="index">
      <v-card v-if="w.groupId === 'rightWidgetGroup'" color="card" class="mb-3">
        <v-card-text>
          <widget-block-template :w="w" />
        </v-card-text>
      </v-card>
      <br />
    </div>
  </div>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { WidgetDefinition } from "@/definitions/WidgetDefinition";

@Component
export default class ThemeWidget extends ThemeComponent {
  @Prop()
  widgets!: Array<WidgetDefinition>;
}
</script>
