<template>
  <div class="aw-header">
    <v-card color="card" class="aw-logo-container">
      <header-template />
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeHeader extends ThemeComponent {}
</script>
