<template>
  <v-alert v-if="alertMessage" :color="alertColor">
    <div v-for="(message, index) in getAlertMessages()" :key="index">
      {{ message }}
    </div>
  </v-alert>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class AlertTemplate extends TemplateComponent {
  @Prop()
  alertMessage!: string;

  @Prop()
  alertColor!: string;

  getAlertMessages(): Array<any> {
    let alertMessages: Array<any> = [];

    if (!this.alertMessage.includes(",")) {
      alertMessages = [this.$t("message." + this.alertMessage)];
      return alertMessages;
    }

    this.alertMessage
      .split(",")
      .forEach((message) => alertMessages.push(this.$t("message." + message)));

    return alertMessages;
  }
}
</script>
