<template>
  <footer>
    <hr class="footer-splitter" />
    {{ siteTitle }} - Copyright &copy; {{ new Date().getFullYear() }}
  </footer>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class FooterTemplate extends TemplateComponent {}
</script>
