<template>
  <crud-form-template
    v-if="addNewGroupWindow"
    v-bind:name.sync="name"
    v-bind:description.sync="description"
    v-bind:authorities.sync="authorities"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crudInitialValues="initialValues"
    :crudFormFields="addFields"
    :right-column-headline="$t('message.admin_groups_create_new_authorities')"
    :left-column-headline="$t('message.admin_groups_create_new')"
    :left-column-size="7"
    :right-column-size="5"
    crudAction="crudAdd"
    :crudActionButtonText="$t('message.admin_groups_create_new_button')"
    @crudAdd="crudAdd"
  />

  <crud-form-template
    v-else-if="editGroupWindow"
    v-bind:name.sync="name"
    v-bind:description.sync="description"
    v-bind:authorities.sync="authorities"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crudInitialValues="initialValues"
    :crudFormFields="editFields"
    :right-column-headline="$t('message.admin_groups_edit_authorities')"
    :left-column-headline="$t('message.admin_groups_edit_group')"
    :left-column-size="7"
    :right-column-size="5"
    crudAction="crudEdit"
    :crudActionButtonText="$t('message.admin_groups_edit_button')"
    @crudEdit="crudEdit"
  />

  <div v-else-if="userListWindow">
    <span>{{ $t("message.admin_groups_users_add_new_member") }}</span>
    <v-text-field
      :placeholder="$t('message.admin_groups_users_add_new_member_placeholder')"
      v-model="userToSearch"
      @input="onUserSearch()"
      list="userSearchList"
      solo
      prepend-inner-icon="fa fa-search"
    />

    <v-item-group>
      <v-checkbox
        v-for="(u, index) in userSearchList"
        :key="index"
        :label="u.displayName"
        @change="userGroupModifySelection(u.id)"
        hide-details
        multiple
      />
    </v-item-group>
    <br />

    <v-btn color="primary" @click="addUsersToGroup()">
      {{ $t("message.admin_groups_users_add_new_member_button") }}
    </v-btn>
    <br /><br />

    <crud-table-template
      :crudHeaders="headers"
      :crudFields="fields"
      :crudPageCount="pageCount"
      :crudTotalCount="totalCount"
      @crudUserDelete="crudUserDelete"
    />
  </div>

  <crud-table-template
    v-else
    :crudHeaders="headers"
    :crudFields="fields"
    :crudPageCount="pageCount"
    :crudTotalCount="totalCount"
    :crudSearchWindow="searchGroupWindow"
    :crudSearchPlaceholder="$t('message.admin_groups_find_search_placeholder')"
    :crudSearchResultText="$t('message.admin_groups_find_search_result')"
    @crudEditWindow="crudEditWindow"
    @crudUserListWindow="crudUserListWindow"
    @crudDelete="crudDelete"
    @crudSearch="crudSearch"
  />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import {
  AuthorityDefinition,
  GroupDefinition,
} from "@/definitions/GroupDefinition";
import { CrudParams } from "@/modules/AdminCrudModule";
import { parseNumber } from "@/util";
import adminGroupsModule, {
  GroupMemberUpdateParams,
} from "@/modules/AdminGroupsModule";
import adminUsersModule from "@/modules/AdminUsersModule";
import { UserDefinition } from "@/definitions/UserDefinition";
import CrudFormField from "@/definitions/CrudFormField";

@Component
export default class GroupListTemplate extends TemplateComponent {
  addNewGroupWindow: boolean = false;
  editGroupWindow: boolean = false;
  searchGroupWindow: boolean = false;
  userListWindow: boolean = false;

  name: string = "";
  description: string = "";
  authorities: Array<string> = [];

  userToSearch: string = "";
  userSearchList: Array<UserDefinition> = [];
  usersToAdd: Array<number> = [];

  allAuthorities: Array<AuthorityDefinition> = [];
  authorityOptions: Array<Object> = [];

  alertMessage: string = "";
  alertColor: string = "";

  pageCount: number = 0;
  totalCount: number = 0;

  fields: Array<GroupDefinition> = [];
  headers: Array<Object> = [];

  addFields: Array<CrudFormField> = [];
  editFields: Array<CrudFormField> = [];

  initialValues: Map<string, any> | any = null;

  async onUserSearch() {
    await adminUsersModule.fetchFindList(
      new CrudParams("users", null, this.userToSearch)
    );
    this.userSearchList = adminUsersModule.users.objects;
  }

  userGroupModifySelection(userId: number) {
    const index = this.usersToAdd.indexOf(userId, 0);
    if (index > -1) {
      this.usersToAdd.splice(index, 1);
    } else {
      this.usersToAdd.push(userId);
    }
  }

  async addUsersToGroup() {
    const id = this.$route.query.id;
    await adminGroupsModule.addGroupMembers(
      new GroupMemberUpdateParams(id, this.usersToAdd)
    );
    await this.initListFields();
  }

  initAddFields() {
    this.addFields["left"] = [
      {
        field: "name",
        labelText: this.$t("message.admin_groups_create_new_name"),
        placeholder: this.$t(
          "message.admin_groups_create_new_name_placeholder"
        ),
      },
      {
        field: "description",
        labelText: this.$t("message.admin_groups_create_new_description"),
        placeholder: this.$t(
          "message.admin_groups_create_new_description_placeholder"
        ),
      },
    ];

    this.addFields["right"] = [
      {
        field: "authorities",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.authorityOptions,
        wrapperCSS: "group-authorities",
      },
    ];
  }

  initEditFields() {
    this.editFields["left"] = [
      {
        field: "name",
        labelText: this.$t("message.admin_groups_edit_name"),
        placeholder: this.$t("message.admin_groups_edit_name_placeholder"),
      },
      {
        field: "description",
        labelText: this.$t("message.admin_groups_edit_description"),
        placeholder: this.$t(
          "message.admin_groups_edit_description_placeholder"
        ),
      },
    ];

    this.editFields["right"] = [
      {
        field: "authorities",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.authorityOptions,
        wrapperCSS: "group-authorities",
      },
    ];
  }

  async initInitialValues() {
    this.initialValues = new Map<string, any>();

    if (this.$route.path && this.$route.path.includes("edit")) {
      const id = this.$route.query.id;
      await adminGroupsModule.fetchObject(new CrudParams("groups", id));
      const group: GroupDefinition = adminGroupsModule.group;
      if (group) {
        this.initialValues.set("name", group.name);
        this.initialValues.set("description", group.description);
        this.initialValues.set("authorities", group.authorities);
      }
    } else {
      this.authorities = ["REGULAR_USER"];
      this.initialValues.set("authorities", this.authorities);
    }
  }

  initTableFields() {
    this.headers = [
      {
        value: "id",
        text: this.$t("message.admin_groups_list_id"),
        sortable: true,
      },
      {
        value: "name",
        text: this.$t("message.admin_groups_list_name"),
        sortable: true,
      },
      {
        value: "description",
        text: this.$t("message.admin_groups_list_description"),
        sortable: true,
      },
      {
        value: "users",
        text: this.$t("message.admin_groups_list_users"),
        width: "120px",
        crudAction: "crudUserListWindow",
        crudIcon: "fa fa-users",
      },
      {
        value: "edit",
        text: this.$t("message.admin_groups_list_edit"),
        width: "100px",
        crudAction: "crudEditWindow",
        crudIcon: "fa fa-edit",
      },
      {
        value: "delete",
        text: this.$t("message.admin_groups_list_delete"),
        width: "100px",
        crudAction: "crudDelete",
        crudIcon: "fa fa-trash",
      },
    ];
  }

  initUserTableFields() {
    this.headers = [
      {
        value: "id",
        text: this.$t("message.admin_groups_users_list_id"),
        sortable: true,
      },
      {
        value: "username",
        text: this.$t("message.admin_groups_users_list_username"),
        sortable: true,
      },
      {
        value: "displayName",
        text: this.$t("message.admin_groups_users_list_display_name"),
        sortable: true,
      },
      {
        value: "email",
        text: this.$t("message.admin_groups_users_list_email"),
        sortable: true,
      },
      {
        value: "delete",
        text: this.$t("message.admin_groups_users_list_delete"),
        crudAction: "crudUserDelete",
        crudIcon: "fa fa-trash",
      },
    ];
  }

  async initListFields(search?: string) {
    const page = parseNumber(this.$route.query.page, 0) - 1;

    try {
      if (search) {
        await adminGroupsModule.fetchFindList(
          new CrudParams("groups", null, search, page, null)
        );
      } else {
        await adminGroupsModule.fetchList(
          new CrudParams(
            this.userListWindow
              ? "groups/" + this.$route.query.id + "/members"
              : "groups",
            null,
            null,
            page,
            null
          )
        );
      }

      this.fields = adminGroupsModule.groups.objects;
      this.totalCount = adminGroupsModule.groups.totalCount;
      this.pageCount = adminGroupsModule.groups.pageCount;
    } catch (e) {
      this.fields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view groups!");
    }
  }

  async crudAdd() {
    try {
      await adminGroupsModule.add(
        new CrudParams("groups", null, null, null, {
          name: this.name,
          description: this.description,
          authorities: this.authorities,
        })
      );

      this.alertMessage = "admin_groups_add_new_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEdit() {
    try {
      const id = this.$route.query.id;

      await adminGroupsModule.edit(
        new CrudParams("groups", id, null, null, {
          name: this.name,
          description: this.description,
          authorities: this.authorities,
        })
      );

      this.alertMessage = "admin_groups_edit_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEditWindow(id: any) {
    await this.$router
      .push({ name: "editGroup", query: { id: id } })
      .catch((e) => e);
  }

  async crudUserListWindow(id: any) {
    await this.$router
      .push({ name: "usersInGroup", query: { id: id } })
      .catch((e) => e);
  }

  async crudDelete(id: any) {
    await adminGroupsModule.delete(new CrudParams("groups", id));
    await this.initListFields();
  }

  async crudUserAdd(id: any) {
    const groupId = this.$route.query.id;
    await adminGroupsModule.addGroupMembers(
      new GroupMemberUpdateParams(groupId, Array.of(id))
    );
    await this.initListFields();
  }

  async crudUserDelete(id: any) {
    const groupId = this.$route.query.id;
    await adminGroupsModule.removeGroupMembers(
      new GroupMemberUpdateParams(groupId, Array.of(id))
    );
    await this.initListFields();
  }

  async crudSearch(search: string) {
    await this.initListFields(search);
  }

  async initAuthorities() {
    await adminGroupsModule.fetchAllAuthorities();
    this.allAuthorities = adminGroupsModule.allAuthorities;
    this.authorityOptions = this.allAuthorities.map((a) => ({
      text: this.$t("message." + a.message),
      value: a.authority,
    }));
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("add")) {
      await this.initAuthorities();
      this.initAddFields();
      await this.initInitialValues();
      this.addNewGroupWindow = true;
    } else if (this.$route.path && this.$route.path.includes("edit")) {
      await this.initAuthorities();
      this.initEditFields();
      await this.initInitialValues();
      this.editGroupWindow = true;
    } else if (this.$route.path && this.$route.path.includes("find")) {
      this.searchGroupWindow = true;
      this.initTableFields();
      await this.initListFields();
    } else if (this.$route.path && this.$route.path.includes("groups/users")) {
      this.userListWindow = true;
      this.initUserTableFields();
      await this.initListFields();
    } else {
      this.initTableFields();
      await this.initListFields();
    }
  }
}
</script>
<style lang="scss">
.group-authorities {
  padding: 10px;
  height: 350px;
  overflow-y: auto;
}
</style>
