<template>
  <div v-if="link" class="link-wrapper">
    <!-- Dropdown link -->
    <div v-if="link.subLinks && link.subLinks.length > 0">
      <v-menu>
        <template v-slot:activator="{ on: menu }">
          <v-btn
            :icon="$vuetify.breakpoint.mdAndDown"
            :color="$vuetify.breakpoint.mdAndDown ? '' : color"
            :small="small"
            v-on="{ ...menu }"
          >
            <v-icon v-if="link.icon">
              {{ link.icon }}
            </v-icon>
            <span class="hidden-md-and-down">{{ link.displayName }}</span>
            <v-icon class="hidden-md-and-down">expand_more</v-icon>
          </v-btn>
        </template>

        <!-- Sub Links -->
        <v-list>
          <v-list-item-group
            v-for="(subLink, index) in link.subLinks"
            :key="index"
          >
            <v-list-item
              :to="subLink.useRouter ? getRouterLink(subLink) : ''"
              :href="subLink.url"
              :target="link.target"
            >
              <v-list-item-title>
                <v-icon v-if="subLink.icon">{{ subLink.icon }}</v-icon>
                <span> {{ subLink.displayName }}</span>
              </v-list-item-title>
            </v-list-item>

            <v-divider v-if="subLink.useDivider" />
          </v-list-item-group>
        </v-list>
      </v-menu>
    </div>

    <!-- Simple link -->
    <v-btn
      v-else
      :icon="text === false && $vuetify.breakpoint.mdAndDown"
      :color="text === false && $vuetify.breakpoint.mdAndDown ? '' : color"
      :text="text"
      :small="small"
      :to="link.useRouter ? getRouterLink(link) : ''"
      :href="link.url"
      :target="link.target"
    >
      <v-icon v-if="link.icon">{{ link.icon }}</v-icon>
      <span v-if="text || $vuetify.breakpoint.mdAndUp">
        {{ link.displayName }}
      </span>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { LinkDefinition } from "@/definitions/LinkDefinition";

@Component
export default class MenuButtonTemplate extends TemplateComponent {
  @Prop({ type: Object as () => LinkDefinition })
  link!: LinkDefinition;

  @Prop()
  color!: string;

  @Prop({ default: false })
  text!: boolean;

  @Prop({ default: false })
  small!: boolean;

  getRouterLink(link: LinkDefinition) {
    return link.url
      ? {
          name: "pageByFriendlyURL",
          params: { friendlyURL: link.url },
        }
      : {
          name: "pageById",
          query: { id: link.id },
        };
  }
}
</script>

<style lang="scss" scoped>
.v-list-item {
  text-decoration: none;
}

.v-btn {
  text-decoration: none;
}
</style>
