<template>
  <div>
    <!-- Alert -->
    <alert-template :alert-message="alertMessage" :alert-color="alertColor" />

    <!-- Languages -->
    <div v-if="languagesWindow">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="1" md="2">
              <v-text-field
                solo
                dense
                v-model="icon"
                :placeholder="$t('message.admin_languages_icon_placeholder')"
              />
            </v-col>
            <v-col cols="1" md="2">
              <v-text-field
                solo
                dense
                v-model="language"
                :placeholder="
                  $t('message.admin_languages_language_placeholder')
                "
              />
            </v-col>
            <v-col cols="3" md="2">
              <v-text-field
                solo
                dense
                v-model="displayName"
                :placeholder="
                  $t('message.admin_languages_display_name_placeholder')
                "
              />
            </v-col>
            <v-col cols="1" md="5">
              <v-checkbox
                v-model="available"
                :label="$t('message.admin_languages_available_placeholder')"
              />
            </v-col>
            <v-col cols="1" md="1">
              <v-btn @click="languageAdd()" color="primary">
                {{ $t("message.admin_languages_add") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <br />

      <crud-table-template
        :crud-headers="languageHeaders"
        :crud-fields="languageFields"
        :crud-page-count="pageCount"
        :crud-total-count="totalCount"
        @languageAllowDisallow="languageAllowDisallow"
        @languageDelete="languageDelete"
      />
    </div>

    <!-- Messages -->
    <div v-else-if="messagesWindow">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="1" md="2">
              <v-text-field
                solo
                dense
                v-model="code"
                :placeholder="$t('message.admin_messages_code_placeholder')"
              />
            </v-col>
            <v-col cols="1" md="2">
              <v-text-field
                solo
                dense
                v-model="language"
                :placeholder="$t('message.admin_messages_language_placeholder')"
              />
            </v-col>
            <v-col cols="3" md="5">
              <v-text-field
                solo
                dense
                v-model="message"
                :placeholder="$t('message.admin_messages_message_placeholder')"
              />
            </v-col>
            <v-col cols="1" md="1">
              <v-btn @click="messageAdd()" color="primary">
                {{ $t("message.admin_messages_list_add") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <br />

      <crud-table-template
        :crud-headers="messageHeaders"
        :crud-fields="messageFields"
        :crud-page-count="pageCount"
        :crud-total-count="totalCount"
        @messageDelete="messageDelete"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import adminMessagesModule from "@/modules/AdminMessagesModule";
import { LanguageDefinition } from "@/definitions/LanguageDefinition";
import { CrudParams } from "@/modules/AdminCrudModule";
import MessageDefinition from "@/definitions/MessageDefinition";
import { parseNumber } from "@/util";

import messagesModule from "@/modules/MessagesModule";

@Component
export default class MessagesTemplate extends TemplateComponent {
  languagesWindow: boolean = false;
  messagesWindow: boolean = false;

  icon: string = "";
  language: string = "";
  displayName: string = "";
  available: boolean = true;

  code: string = "";
  // language: string = "";
  message: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  pageCount: number = 0;
  totalCount: number = 0;

  languageHeaders: Array<Object> = [];
  languageFields: Array<LanguageDefinition> = [];

  messageHeaders: Array<Object> = [];
  messageFields: Array<MessageDefinition> = [];

  async initLanguages() {
    this.languageHeaders = [
      {
        value: "icon",
        sortable: true,
        imageCSS: "flag-icon-css",
        text: this.$t("message.admin_languages_icon"),
      },
      {
        value: "language",
        sortable: true,
        text: this.$t("message.admin_languages_language"),
      },
      {
        value: "displayName",
        sortable: true,
        text: this.$t("message.admin_languages_display_name"),
      },
      {
        value: "available",
        sortable: true,
        text: this.$t("message.admin_languages_available"),
        idName: "language",
        crudAction: "languageAllowDisallow",
        crudFormatter: "toggleIconFormatter",
      },
      {
        value: "delete",
        text: this.$t("message.admin_languages_delete"),
        idName: "language",
        crudAction: "languageDelete",
        crudIcon: "fa fa-trash",
      },
    ];

    try {
      await adminMessagesModule.fetchLanguages();

      this.languageFields = adminMessagesModule.languages.objects;
      this.totalCount = adminMessagesModule.languages.totalCount;
      this.pageCount = adminMessagesModule.languages.pageCount;
    } catch (e) {
      this.languageFields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view languages!");
    }
  }

  async languageAdd() {
    try {
      await adminMessagesModule.addLanguage({
        icon: this.icon,
        language: this.language,
        displayName: this.displayName,
        available: this.available,
      });

      this.alertMessage = "admin_languages_add_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }

    await this.initLanguages();
  }

  async languageAllowDisallow(language: any) {
    await adminMessagesModule.allowDisallowLanguage(language);

    await this.initLanguages();
  }

  async languageDelete(id: any) {
    await adminMessagesModule.deleteLanguage(id);

    await this.initLanguages();
  }

  async initMessages() {
    const page = parseNumber(this.$route.query.page, 0) - 1;
    const locale = messagesModule.siteLanguage;

    this.messageHeaders = [
      {
        value: "code",
        sortable: true,
        text: this.$t("message.admin_messages_list_code"),
      },
      {
        value: "language",
        sortable: true,
        text: this.$t("message.admin_messages_list_language"),
      },
      {
        value: "message",
        sortable: true,
        text: this.$t("message.admin_messages_list_message"),
      },
      {
        value: "delete",
        text: this.$t("message.admin_messages_list_delete"),
        crudAction: "messageDelete",
        crudIcon: "fa fa-trash",
      },
    ];

    try {
      await adminMessagesModule.fetchList(
        new CrudParams("messages/" + locale, null, null, page, null)
      );

      this.messageFields = adminMessagesModule.messages.objects;
      this.totalCount = adminMessagesModule.messages.totalCount;
      this.pageCount = adminMessagesModule.messages.pageCount;
    } catch (e) {
      this.messageFields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view messages!");
    }
  }

  async messageAdd() {
    try {
      await adminMessagesModule.add(
        new CrudParams("messages", null, null, null, {
          code: this.code,
          language: this.language,
          message: this.message,
        })
      );

      this.alertMessage = "admin_messages_add_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }

    await this.initMessages();

    setTimeout(() => {
      this.alertMessage = "";
      this.alertColor = "";
    }, 3000);
  }

  async messageFieldEdit(id: string, event: any, dataItem: any) {
    try {
      await adminMessagesModule.edit(
        new CrudParams("messages", id, null, null, {
          code: dataItem.code,
          language: dataItem.language,
          message: event,
        })
      );

      this.alertMessage = "admin_messages_edit_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }

    setTimeout(() => {
      this.alertMessage = "";
      this.alertColor = "";
    }, 3000);
  }

  async messageDelete(id: string) {
    try {
      await adminMessagesModule.delete(new CrudParams("messages", id));

      this.alertMessage = "admin_messages_delete_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }

    await this.initMessages();

    setTimeout(() => {
      this.alertMessage = "";
      this.alertColor = "";
    }, 3000);
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("languages")) {
      await this.initLanguages();
      this.languagesWindow = true;
    } else {
      await this.initMessages();
      this.messagesWindow = true;
    }
  }
}
</script>
