<template>
  <crud-form-template
    v-if="addNewPostWindow"
    v-bind:title.sync="title"
    v-bind:content.sync="content"
    v-bind:authorId.sync="authorId"
    v-bind:author.sync="author"
    v-bind:displayOrder.sync="displayOrder"
    v-bind:friendlyURL.sync="friendlyURL"
    v-bind:icon.sync="icon"
    v-bind:lang.sync="lang"
    v-bind:visibility.sync="visibility"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crud-initial-values="initialValues"
    :crud-form-fields="postFormAddFields"
    crud-action="crudAdd"
    :crud-action-button-text="$t('message.admin_posts_write_new_button')"
    @crudAdd="crudAdd"
  />

  <crud-form-template
    v-else-if="editPostWindow"
    v-bind:title.sync="title"
    v-bind:content.sync="content"
    v-bind:authorId.sync="authorId"
    v-bind:author.sync="author"
    v-bind:displayOrder.sync="displayOrder"
    v-bind:friendlyURL.sync="friendlyURL"
    v-bind:icon.sync="icon"
    v-bind:lang.sync="lang"
    v-bind:visibility.sync="visibility"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crud-initial-values="initialValues"
    :crud-form-fields="postFormEditFields"
    crud-action="crudEdit"
    :crud-action-button-text="$t('message.admin_posts_edit_button')"
    @crudEdit="crudEdit"
  />

  <crud-table-template
    v-else
    :crud-headers="headers"
    :crud-fields="fields"
    :crud-page-count="pageCount"
    :crud-total-count="totalCount"
    :crud-search-window="searchPostWindow"
    :crud-search-placeholder="$t('message.admin_posts_find_search_placeholder')"
    :crud-search-result-text="$t('message.admin_posts_find_search_result')"
    @crudEditWindow="crudEditWindow"
    @crudDelete="crudDelete"
    @crudSearch="crudSearch"
  />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { PostDefinition } from "@/definitions/PostDefinition";
import adminPostsModule from "@/modules/AdminPostsModule";
import { CrudParams } from "@/modules/AdminCrudModule";
import messagesModule from "@/modules/MessagesModule";
import { ContentVisibility } from "@/definitions/enums/ContentVisibility";
import { ContentVisibilityDefinition } from "@/definitions/ContenttDefinition";
import usersModule from "@/modules/UsersModule";
import CrudFormField from "@/definitions/CrudFormField";

@Component
export default class PostListTemplate extends TemplateComponent {
  addNewPostWindow: boolean = false;
  editPostWindow: boolean = false;
  searchPostWindow: boolean = false;

  title: string = "";
  content: string = "";
  authorId: number = 0;
  author: string = "";
  displayOrder: number = 0;
  friendlyURL: string = "";
  icon: string = "";
  lang: string = "";
  visibility: Array<ContentVisibility> = [];

  allContentVisibilities: Array<ContentVisibilityDefinition> = [];
  contentVisibilityOptions: Array<Object> = [];

  alertMessage: string = "";
  alertColor: string = "";

  pageCount: number = 0;
  totalCount: number = 0;

  postFormAddFields: Array<CrudFormField>[] = [];
  postFormEditFields: Array<CrudFormField>[] = [];
  fields: Array<PostDefinition> = [];
  headers: Array<Object> = [];
  initialValues: Map<string, any> | any = null;

  initAddFields() {
    this.postFormAddFields["left"] = [
      {
        field: "title",
        placeholder: this.$t("message.admin_posts_write_new_title_placeholder"),
      },
      {
        field: "friendlyURL",
        placeholder: this.$t(
          "message.admin_posts_write_new_friendly_url_placeholder"
        ),
      },
      {
        field: "content",
        placeholder: this.$t(
          "message.admin_posts_write_new_content_placeholder"
        ),
        type: "editor",
      },
    ];

    this.postFormAddFields["right"] = [
      {
        field: "authorId",
        label: this.$t("message.admin_posts_write_new_author_id"),
      },
      {
        field: "author",
        label: this.$t("message.admin_posts_write_new_author"),
      },
      {
        field: "displayOrder",
        label: this.$t("message.admin_posts_write_new_display_order"),
      },
      {
        field: "icon",
        label: this.$t("message.admin_posts_write_new_icon"),
      },
      {
        field: "lang",
        label: this.$t("message.admin_posts_write_new_lang"),
      },
      {
        field: "visibility",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.contentVisibilityOptions,
        label: this.$t("message.admin_posts_write_new_visibility"),
      },
    ];
  }

  initEditFields() {
    this.postFormEditFields["left"] = [
      {
        field: "title",
        placeholder: this.$t("message.admin_posts_edit_title_placeholder"),
      },
      {
        field: "friendlyURL",
        placeholder: this.$t(
          "message.admin_posts_edit_friendly_url_placeholder"
        ),
      },
      {
        field: "content",
        placeholder: this.$t("message.admin_posts_edit_content_placeholder"),
        type: "editor",
      },
    ];

    this.postFormEditFields["right"] = [
      {
        field: "authorId",
        label: this.$t("message.admin_posts_edit_author_id"),
      },
      {
        field: "author",
        label: this.$t("message.admin_posts_edit_author"),
      },
      {
        field: "displayOrder",
        label: this.$t("message.admin_posts_edit_display_order"),
      },
      {
        field: "icon",
        label: this.$t("message.admin_posts_edit_icon"),
      },
      {
        field: "lang",
        label: this.$t("message.admin_posts_edit_lang"),
      },
      {
        field: "visibility",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.contentVisibilityOptions,
        label: this.$t("message.admin_posts_edit_visibility"),
      },
    ];
  }

  async initInitialValues() {
    this.initialValues = new Map<string, any>();
    const locale = messagesModule.siteLanguage;

    if (this.$route.path && this.$route.path.includes("edit")) {
      const id = this.$route.query.id;

      await adminPostsModule.fetchObject(
        new CrudParams("posts/" + locale + "/by-id", id)
      );
      const post: PostDefinition = adminPostsModule.post;
      if (post) {
        this.initialValues.set("title", post.title);
        this.initialValues.set("friendlyURL", post.friendlyURL);
        this.initialValues.set("content", post.content);
        this.initialValues.set("author", post.author);
        this.initialValues.set("authorId", post.authorId);
        this.initialValues.set("displayOrder", post.displayOrder);
        this.initialValues.set("icon", post.icon);
        this.initialValues.set("lang", post.lang);
        this.initialValues.set("visibility", post.visibility);
      }
    } else {
      this.visibility = [
        ContentVisibility.GUEST,
        ContentVisibility.REGULAR_USER,
        ContentVisibility.ADMIN_SITE,
      ];
      this.initialValues.set("content", this.content);
      this.initialValues.set("visibility", this.visibility);
      this.initialValues.set("author", usersModule.currentUser.displayName);
      this.initialValues.set("authorId", usersModule.currentUser.id);
      this.initialValues.set("displayOrder", 0);
      this.initialValues.set("lang", locale);
    }
  }

  initTemplateImages() {}

  initTableFields() {
    this.headers = [
      {
        value: "id",
        text: this.$t("message.admin_posts_list_id"),
        width: "80px",
      },
      {
        value: "title",
        text: this.$t("message.admin_posts_list_title"),
        width: "150px",
      },
      {
        value: "content",
        text: this.$t("message.admin_posts_list_content_excerpt"),
        width: "250px",
        crudFormatter: "limitedContentFormatter",
      },
      {
        value: "author",
        text: this.$t("message.admin_posts_list_author"),
        width: "100px",
      },
      {
        value: "createTime",
        text: this.$t("message.admin_posts_list_create_time"),
        width: "150px",
        crudFormatter: "dateTimeFormatter",
      },
      {
        value: "displayOrder",
        text: this.$t("message.admin_posts_list_display_order"),
        width: "130px",
      },
      {
        value: "lang",
        text: this.$t("message.admin_posts_list_lang"),
        width: "120px",
      },
      {
        value: "edit",
        text: this.$t("message.admin_posts_list_edit"),
        width: "100px",
        crudAction: "crudEditWindow",
        crudIcon: "fa fa-edit",
      },
      {
        value: "delete",
        text: this.$t("message.admin_posts_list_delete"),
        width: "100px",
        crudAction: "crudDelete",
        crudIcon: "fa fa-trash",
      },
    ];
  }

  async initListFields(search?: string) {
    const post: number = Number(this.$route.query.post) - 1;
    const locale = messagesModule.siteLanguage;

    try {
      if (search) {
        await adminPostsModule.fetchFindList(
          new CrudParams("posts/" + locale, null, search, post, null)
        );
      } else {
        await adminPostsModule.fetchList(
          new CrudParams("posts/" + locale, null, null, post, null)
        );
      }

      this.fields = adminPostsModule.posts.objects;
      this.totalCount = Number(adminPostsModule.posts.totalCount);
      this.pageCount = Number(adminPostsModule.posts.pageCount);
    } catch (e) {
      this.fields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view posts!");
    }
  }

  async crudAdd() {
    try {
      await adminPostsModule.add(
        new CrudParams("posts", null, null, null, {
          title: this.title,
          friendlyURL: this.friendlyURL,
          content: this.content,
          authorId: this.authorId,
          author: this.author,
          displayOrder: this.displayOrder,
          icon: this.icon,
          lang: this.lang,
          visibility: this.visibility,
        })
      );

      this.alertMessage = "admin_posts_write_new_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEdit() {
    try {
      const id = this.$route.query.id;
      const locale = messagesModule.siteLanguage;

      await adminPostsModule.edit(
        new CrudParams("posts/" + locale, id, null, null, {
          title: this.title,
          friendlyURL: this.friendlyURL,
          content: this.content,
          authorId: this.authorId,
          author: this.author,
          displayOrder: this.displayOrder,
          icon: this.icon,
          lang: this.lang,
          visibility: this.visibility,
        })
      );

      this.alertMessage = "admin_posts_edit_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEditWindow(id: any) {
    await this.$router
      .push({ name: "editPost", query: { id: id } })
      .catch((e) => e);
  }

  async crudDelete(id: any) {
    await adminPostsModule.delete(new CrudParams("posts", id));
    await this.initListFields();
  }

  async crudSearch(search: string) {
    await this.initListFields(search);
  }

  async initContentVisibilities() {
    await adminPostsModule.fetchAllContentVisibilities();
    this.allContentVisibilities = adminPostsModule.allContentVisibilities;
    this.contentVisibilityOptions = this.allContentVisibilities.map((c) => ({
      text: this.$t("message." + c.message),
      value: c.contentVisibility,
    }));
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("write_new")) {
      await this.initContentVisibilities();
      this.initAddFields();
      await this.initInitialValues();
      this.addNewPostWindow = true;
    } else if (this.$route.path && this.$route.path.includes("edit")) {
      await this.initContentVisibilities();
      this.initEditFields();
      await this.initInitialValues();
      this.editPostWindow = true;
    } else if (this.$route.path && this.$route.path.includes("find")) {
      this.searchPostWindow = true;
      this.initTemplateImages();
      this.initTableFields();
      await this.initListFields();
    } else {
      this.initTemplateImages();
      this.initTableFields();
      await this.initListFields();
    }
  }
}
</script>
