<template>
  <v-navigation-drawer
    :clipped="$vuetify.breakpoint.lgAndUp"
    class="sidebar"
    color="sidebar"
    ref="drawer"
    :width="navigation.width"
    :expand-on-hover="isMenuCollapsed"
    dark
    app
  >
    <v-list dense>
      <v-list-group
        v-for="(menuItem, menuItemIndex) in menu"
        :key="menuItemIndex"
        :prepend-icon="menuItem.icon"
      >
        <template v-slot:activator>
          <v-list-item-title>
            <router-link :to="menuItem.href">
              {{ menuItem.title }}
            </router-link>
          </v-list-item-title>
        </template>

        <v-list-group
          v-for="(submenuItem, submenuItemIndex) in menuItem.child"
          :key="submenuItemIndex"
          :prepend-icon="submenuItem.icon"
          link
          sub-group
        >
          <template v-slot:activator>
            <v-list-item-title>
              <router-link :to="submenuItem.href">
                {{ submenuItem.title }}
              </router-link>
            </v-list-item-title>
          </template>
        </v-list-group>
      </v-list-group>
    </v-list>

    <v-btn
      class="toggle-sidebar-arrow"
      text
      icon
      color="primary"
      @click="isMenuCollapsed = !isMenuCollapsed"
      block
    >
      <v-icon v-if="isMenuCollapsed">
        material-icons keyboard_arrow_right
      </v-icon>
      <v-icon v-else> material-icons keyboard_arrow_left </v-icon>
    </v-btn>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import adminSidebarModule from "@/modules/AdminSidebarModule";
import messagesModule from "@/modules/MessagesModule";

@Component
export default class SidebarTemplate extends TemplateComponent {
  menu: Array<Object> = [];
  isMenuCollapsed: boolean = false;

  $refs: any = {};

  navigation: any = {
    width: 280,
    borderSize: 3,
  };

  async beforeMount() {
    const locale = messagesModule.siteLanguage;
    try {
      await adminSidebarModule.fetchAdminSidebar(locale);
      this.menu = adminSidebarModule.sidebar;
    } catch (e) {
      window.console.error("Authentication is necessary to continue!");
    }
  }

  mounted() {
    this.setBorderWidth();
    this.setEvents();
  }

  setBorderWidth() {
    let i = this.$refs.drawer.$el.querySelector(".v-navigation-drawer__border");
    i.style.width = this.navigation.borderSize + "px";
    i.style.cursor = "ew-resize";
  }

  setEvents() {
    const minSize = this.navigation.borderSize;
    const el = this.$refs.drawer.$el;
    const drawerBorder = el.querySelector(".v-navigation-drawer__border");
    const direction = el.classList.contains("v-navigation-drawer--right")
      ? "right"
      : "left";

    function resize(e) {
      document.body.style.cursor = "ew-resize";
      let f =
        direction === "right"
          ? document.body.scrollWidth - e.clientX
          : e.clientX;
      el.style.width = f + "px";
    }

    drawerBorder.addEventListener(
      "mousedown",
      (e) => {
        if (e.offsetX < minSize) {
          el.style.transition = "initial";
          document.addEventListener("mousemove", resize, false);
        }
      },
      false
    );

    document.addEventListener(
      "mouseup",
      () => {
        el.style.transition = "";
        this.navigation.width = el.style.width;
        document.body.style.cursor = "";
        document.removeEventListener("mousemove", resize, false);
      },
      false
    );
  }
}
</script>

<style lang="scss">
.sidebar-wrapper {
  height: 100%;
}

.sidebar {
  height: 100%;
}

.sidebar a {
  text-decoration: none;
}

.toggle-sidebar-arrow {
}
</style>
