<template>
  <div>
    <!-- Properties -->
    <div v-if="propertiesWindow">
      <!-- Alert -->
      <alert-template :alert-message="alertMessage" :alert-color="alertColor" />

      <!-- Button Header Group -->
      <v-btn-toggle dense group color="primary">
        <v-btn
          v-for="(group, index) in allPropertiesGroups"
          :key="group"
          :value="index"
          :to="{ name: 'propertiesByGroup', query: { group: group } }"
        >
          {{ group }}
        </v-btn>
      </v-btn-toggle>
      <br />

      <!-- The property table. -->
      <table>
        <tr
          v-for="property in currentPropertiesGroup"
          :key="property.propertyName"
        >
          <td>
            {{ $t("message.admin_properties_" + property.propertyName) }}
          </td>
          <td>
            <v-text-field
              solo
              v-if="property.propertyType === 'TEXT'"
              type="text"
              v-model="property.actualValue"
            />

            <v-text-field
              solo
              v-else-if="property.propertyType === 'PASSWORD'"
              type="password"
              v-model="property.actualValue"
            />

            <v-text-field
              solo
              v-else-if="property.propertyType === 'NUMBER'"
              type="number"
              v-model="property.actualValue"
            />

            <v-radio-group
              row
              v-else-if="property.propertyType === 'RADIO_BUTTON'"
              v-model="property.actualValue"
            >
              <v-radio value="true" label="true" />
              <v-radio value="false" label="false" />
            </v-radio-group>

            <v-select
              solo
              :items="property.dropDownElements"
              v-else-if="property.propertyType === 'SELECT'"
              v-model="property.actualValue"
            />
          </td>
        </tr>
      </table>

      <br />
      <v-btn color="primary" @click="saveProperties()">
        {{ $t("message.admin_properties_save") }}
      </v-btn>
    </div>

    <!-- Version Info -->
    <div v-else-if="versionInfoWindow">
      <v-simple-table class="crud-table elevation-1">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-left">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in versionInfo" :key="item.name">
              <td>{{ item.name }}</td>
              <td>{{ item.value }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import adminSystemModule from "@/modules/AdminSystemModule";
import VersionInfoDefinition from "@/definitions/VersionInfoDefinition";
import ServerPropertyDefinition from "@/definitions/ServerPropertyDefinition";
import ServerPropertiesDefinition from "@/definitions/ServerPropertiesDefinition";

@Component
export default class SystemTemplate extends TemplateComponent {
  propertiesWindow: boolean = false;
  versionInfoWindow: boolean = false;

  alertMessage: string = "";
  alertColor: string = "";

  allPropertiesGroups: Array<string> = [];
  currentPropertiesGroup: Array<ServerPropertyDefinition> = [];
  versionInfo: Array<VersionInfoDefinition> = [];

  async initProperties() {
    await adminSystemModule.fetchPropertiesGroups();
    this.allPropertiesGroups = adminSystemModule.propertiesGroups;

    const group = this.$route.query.group
      ? this.$route.query.group
      : this.allPropertiesGroups[0];
    await adminSystemModule.fetchPropertiesGroup(group);
    this.currentPropertiesGroup = adminSystemModule.propertiesGroup;
  }

  async saveProperties() {
    const propertiesToSave: ServerPropertiesDefinition = {
      propertiesGroup: this.currentPropertiesGroup.map((value) => ({
        propertyName: value.propertyName,
        actualValue: value.actualValue,
      })),
    } as ServerPropertiesDefinition;

    try {
      await adminSystemModule.saveProperties(propertiesToSave);
      this.alertMessage = "" + this.$t("admin_properties_save_success");
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async initVersionInfo() {
    await adminSystemModule.fetchVersionInfo();
    this.versionInfo = adminSystemModule.versionInfo;
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("properties")) {
      this.propertiesWindow = true;
      await this.initProperties();
    } else if (this.$route.path && this.$route.path.includes("version-info")) {
      this.versionInfoWindow = true;
      await this.initVersionInfo();
    }
  }
}
</script>

<style lang="scss" scoped>
td {
  min-width: 400px;
  text-align: left;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
</style>
