<template>
  <div>TODO ...</div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

import adminThemesModule from "@/modules/AdminThemesModule";
import { ThemeDefinition } from "@/definitions/ThemeDefinition";
import {
  ExternalComponentButtonDefinition,
  ExternalComponentParams,
  ExternalComponentsParams,
} from "@/modules/AdminCrudExternalComponentModule";
import { parseNumber } from "@/util";

@Component
export default class ThemesTemplate extends TemplateComponent {}
</script>

<style lang="scss">
.btn-theme {
  padding: 5px;
  margin: 3px;
}
</style>
