<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on: tooltip }">
      <v-btn
        :class="
          $vuetify.breakpoint.mdAndDown
            ? 'tooltip-button-small'
            : 'tooltip-button-big'
        "
        :icon="$vuetify.breakpoint.mdAndDown"
        :color="$vuetify.breakpoint.mdAndDown ? '' : color"
        v-on="{ ...tooltip }"
        :href="href"
        :to="to"
      >
        <v-icon>{{ icon }}</v-icon>
        <span class="hidden-md-and-down">{{ message }}</span>
      </v-btn>
    </template>
    <span>{{ message }}</span>
  </v-tooltip>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class TooltipButtonTemplate extends TemplateComponent {
  @Prop()
  href!: string;

  @Prop()
  to!: string;

  @Prop()
  color!: string;

  @Prop()
  icon!: string;

  @Prop()
  message!: string;
}
</script>

<style lang="scss" scoped>
.v-btn {
  text-decoration: none;
}

.tooltip-button-small {
}

.tooltip-button-big {
  margin-left: 5px;
}
</style>
