<template>
  <crud-form-template
    v-if="addNewUserWindow"
    v-bind:username.sync="username"
    v-bind:password.sync="password"
    v-bind:email.sync="email"
    v-bind:displayName.sync="displayName"
    v-bind:birthDate.sync="birthDate"
    v-bind:imageUrl.sync="imageUrl"
    v-bind:bio.sync="bio"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crudInitialValues="initialValues"
    :crudFormFields="addFields"
    crudAction="crudAdd"
    :crudActionButtonText="$t('message.admin_users_add_new_button')"
    @crudAdd="crudAdd"
  />

  <crud-form-template
    v-else-if="editUserWindow"
    v-bind:username.sync="username"
    v-bind:password.sync="password"
    v-bind:email.sync="email"
    v-bind:displayName.sync="displayName"
    v-bind:birthDate.sync="birthDate"
    v-bind:imageUrl.sync="imageUrl"
    v-bind:bio.sync="bio"
    v-bind:active.sync="active"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crudInitialValues="initialValues"
    :crudFormFields="editFields"
    crudAction="crudEdit"
    :crudActionButtonText="$t('message.admin_users_edit_button')"
    @crudEdit="crudEdit"
  />

  <crud-table-template
    v-else
    :crudHeaders="headers"
    :crudFields="fields"
    :crudPageCount="pageCount"
    :crudTotalCount="totalCount"
    :crudSearchWindow="searchUserWindow"
    :crudSearchPlaceholder="$t('message.admin_users_find_search_placeholder')"
    :crudSearchResultText="$t('message.admin_users_find_search_result')"
    @crudEditWindow="crudEditWindow"
    @crudDelete="crudDelete"
    @crudSearch="crudSearch"
  />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

import adminUsersModule from "@/modules/AdminUsersModule";
import { UserDefinition } from "@/definitions/UserDefinition";
import { parseNumber } from "@/util";
import { CrudParams } from "@/modules/AdminCrudModule";
import CrudFormField from "@/definitions/CrudFormField";

@Component
export default class UserListTemplate extends TemplateComponent {
  addNewUserWindow: boolean = false;
  editUserWindow: boolean = false;
  searchUserWindow: boolean = false;

  username: string = "";
  password: string = "";
  email: string = "";
  displayName: string = "";
  birthDate: string = "";
  imageUrl: string = "";
  bio: string = "";
  active: boolean = false;
  provider: string = "";
  providerId: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  pageCount: number = 0;
  totalCount: number = 0;

  fields: Array<UserDefinition> = [];
  headers: Array<Object> = [];

  addFields: Array<CrudFormField> = [];
  editFields: Array<CrudFormField> = [];
  initialValues: Map<string, any> | any = null;

  initAddFields() {
    this.addFields["left"] = [
      {
        field: "username",
        label: this.$t("message.admin_users_add_new_username"),
        placeholder: this.$t(
          "message.admin_users_add_new_username_placeholder"
        ),
      },
      {
        field: "password",
        label: this.$t("message.admin_users_add_new_password"),
        type: "password",
        placeholder: this.$t(
          "message.admin_users_add_new_password_placeholder"
        ),
      },
      {
        field: "email",
        label: this.$t("message.admin_users_add_new_email"),
        placeholder: this.$t("message.admin_users_add_new_email_placeholder"),
      },
      {
        field: "displayName",
        label: this.$t("message.admin_users_add_new_display_name"),
        placeholder: this.$t(
          "message.admin_users_add_new_display_name_placeholder"
        ),
      },
      {
        field: "birthDate",
        label: this.$t("message.admin_users_add_new_birth_date"),
        placeholder: this.$t(
          "message.admin_users_add_new_birth_date_placeholder"
        ),
        type: "birth-date-picker",
      },
      {
        field: "imageUrl",
        label: this.$t("message.admin_users_add_new_image_url"),
        placeholder: this.$t(
          "message.admin_users_add_new_image_url_placeholder"
        ),
      },
      {
        field: "bio",
        label: this.$t("message.admin_users_add_new_bio"),
        placeholder: this.$t("message.admin_users_add_new_bio_placeholder"),
        type: "editor",
      },
    ];
  }

  initEditFields() {
    this.editFields["left"] = [
      {
        field: "username",
        label: this.$t("message.admin_users_edit_username"),
        placeholder: this.$t("message.admin_users_edit_username_placeholder"),
      },
      {
        field: "password",
        label: this.$t("message.admin_users_edit_password"),
        type: "password",
        placeholder: this.$t("message.admin_users_edit_password_placeholder"),
      },
      {
        field: "email",
        label: this.$t("message.admin_users_edit_email"),
        placeholder: this.$t("message.admin_users_edit_email_placeholder"),
      },
      {
        field: "displayName",
        label: this.$t("message.admin_users_edit_display_name"),
        placeholder: this.$t(
          "message.admin_users_edit_display_name_placeholder"
        ),
      },
      {
        field: "birthDate",
        label: this.$t("message.admin_users_edit_birth_date"),
        placeholder: this.$t("message.admin_users_edit_birth_date_placeholder"),
        type: "birth-date-picker",
      },
      {
        field: "imageUrl",
        label: this.$t("message.admin_users_edit_image_url"),
        placeholder: this.$t("message.admin_users_edit_image_url_placeholder"),
      },
      {
        field: "bio",
        label: this.$t("message.admin_users_edit_bio"),
        placeholder: this.$t("message.admin_users_edit_bio_placeholder"),
        type: "editor",
      },
      {
        field: "provider",
        label: this.$t("message.admin_users_edit_provider"),
        placeholder: this.$t("message.admin_users_edit_provider_placeholder"),
      },
      {
        field: "providerId",
        label: this.$t("message.admin_users_edit_provider_id"),
        placeholder: this.$t(
          "message.admin_users_edit_provider_id_placeholder"
        ),
      },
      {
        field: "active",
        label: this.$t("message.admin_users_edit_active"),
        type: "checkbox",
      },
    ];
  }

  async initInitialValues() {
    const id = this.$route.query.id;
    await adminUsersModule.fetchObject(new CrudParams("users", id));
    const user: UserDefinition = adminUsersModule.user;
    if (user) {
      this.initialValues = new Map<string, any>();
      this.initialValues.set("username", user.username);
      // this.initialValues.set("password", user.password);
      this.initialValues.set("email", user.email);
      this.initialValues.set("displayName", user.displayName);
      this.initialValues.set("birthDate", user.birthDate);
      this.initialValues.set("imageUrl", user.imageUrl);
      this.initialValues.set("bio", user.bio);
      this.initialValues.set("provider", user.provider);
      this.initialValues.set("providerId", user.providerId);
      this.initialValues.set("active", user.active);
    }
  }

  initTableFields() {
    this.headers = [
      {
        value: "imageUrl",
        imageCSS: "user-avatar",
        defaultImage: "default_user.png",
      },
      {
        value: "id",
        text: this.$t("message.admin_users_list_id"),
        sortable: true,
      },
      {
        value: "username",
        text: this.$t("message.admin_users_list_username"),
        sortable: true,
      },
      {
        value: "displayName",
        text: this.$t("message.admin_users_list_display_name"),
        sortable: true,
      },
      {
        value: "email",
        text: this.$t("message.admin_users_list_email"),
        sortable: true,
      },
      {
        value: "active",
        text: this.$t("message.admin_users_list_is_active"),
        sortable: true,
      },
      {
        value: "birthDate",
        text: this.$t("message.admin_users_list_birth_date"),
        sortable: true,
        crudFormatter: "dateTimeFormatter",
      },
      {
        value: "createTime",
        text: this.$t("message.admin_users_list_create_time"),
        sortable: true,
        crudFormatter: "dateTimeFormatter",
      },
      {
        value: "provider",
        sortable: true,
        text: this.$t("message.admin_users_list_provider"),
      },
      {
        value: "providerId",
        sortable: true,
        text: this.$t("message.admin_users_list_provider_id"),
      },
      {
        value: "edit",
        text: this.$t("message.admin_users_list_edit"),
        width: "100px",
        crudAction: "crudEditWindow",
        crudIcon: "fa fa-edit",
      },
      {
        value: "delete",
        text: this.$t("message.admin_users_list_delete"),
        width: "100px",
        crudAction: "crudDelete",
        crudIcon: "fa fa-trash",
      },
    ];
  }

  async initListFields(search?: string) {
    const page = parseNumber(this.$route.query.page, 0) - 1;

    try {
      if (search) {
        await adminUsersModule.fetchFindList(
          new CrudParams("users", null, search, page, null)
        );
      } else {
        await adminUsersModule.fetchList(
          new CrudParams("users", null, null, page, null)
        );
      }

      this.fields = adminUsersModule.users.objects;
      this.totalCount = adminUsersModule.users.totalCount;
      this.pageCount = adminUsersModule.users.pageCount;
    } catch (e) {
      this.fields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view users!");
    }
  }

  async crudAdd() {
    try {
      await adminUsersModule.add(
        new CrudParams("users", null, null, null, {
          username: this.username,
          password: this.password,
          email: this.email,
          displayName: this.displayName,
          birthDate: this.birthDate,
          imageUrl: this.imageUrl,
          bio: this.bio,
        })
      );

      this.alertMessage = "admin_users_add_new_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEdit() {
    try {
      const id = this.$route.query.id;
      await adminUsersModule.edit(
        new CrudParams("users", id, null, null, {
          username: this.username,
          password: this.password,
          email: this.email,
          displayName: this.displayName,
          birthDate: this.birthDate,
          imageUrl: this.imageUrl,
          bio: this.bio,
          provider: this.provider ? this.provider : null,
          providerId: this.providerId ? this.providerId : null,
          active: this.active,
        })
      );

      this.alertMessage = "admin_users_edit_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEditWindow(id: any) {
    await this.$router
      .push({ name: "editUser", query: { id: id } })
      .catch((e) => e);
  }

  async crudDelete(id: any) {
    await adminUsersModule.delete(new CrudParams("users", id));
    await this.initListFields();
  }

  async crudSearch(search: string) {
    await this.initListFields(search);
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("add")) {
      this.initAddFields();
      this.addNewUserWindow = true;
    } else if (this.$route.path && this.$route.path.includes("edit")) {
      this.initEditFields();
      await this.initInitialValues();
      this.editUserWindow = true;
    } else if (this.$route.path && this.$route.path.includes("find")) {
      this.searchUserWindow = true;
      this.initTableFields();
      await this.initListFields();
    } else {
      this.initTableFields();
      await this.initListFields();
    }
  }
}
</script>

<style lang="scss">
.user-avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
</style>
