<template>
  <crud-form-template
    v-if="addNewWidgetWindow"
    v-bind:id.sync="id"
    v-bind:displayName.sync="displayName"
    v-bind:groupId.sync="groupId"
    v-bind:content.sync="content"
    v-bind:orderInTheGroup.sync="orderInTheGroup"
    v-bind:lang.sync="lang"
    v-bind:visibility.sync="visibility"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crud-initial-values="initialValues"
    :crud-form-fields="widgetFormAddFields"
    crud-action="crudAdd"
    :crud-action-button-text="$t('message.admin_widgets_add_new_button')"
    @crudAdd="crudAdd"
  />

  <crud-form-template
    v-else-if="editWidgetWindow"
    v-bind:id.sync="id"
    v-bind:displayName.sync="displayName"
    v-bind:groupId.sync="groupId"
    v-bind:content.sync="content"
    v-bind:orderInTheGroup.sync="orderInTheGroup"
    v-bind:lang.sync="lang"
    v-bind:visibility.sync="visibility"
    v-bind:crudAlertMessage.sync="alertMessage"
    v-bind:crudAlertColor.sync="alertColor"
    :crud-initial-values="initialValues"
    :crud-form-fields="widgetFormEditFields"
    crud-action="crudEdit"
    :crud-action-button-text="$t('message.admin_widgets_edit_button')"
    @crudEdit="crudEdit"
  />

  <crud-table-template
    v-else
    :crud-headers="headers"
    :crud-fields="fields"
    :crud-page-count="pageCount"
    :crud-total-count="totalCount"
    :crud-search-window="searchWidgetWindow"
    :crud-search-placeholder="
      $t('message.admin_widgets_find_search_placeholder')
    "
    :crud-search-result-text="$t('message.admin_widgets_find_search_result')"
    @crudEditWindow="crudEditWindow"
    @crudDelete="crudDelete"
    @crudSearch="crudSearch"
  />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { WidgetDefinition } from "@/definitions/WidgetDefinition";
import adminWidgetsModule from "@/modules/AdminWidgetsModule";
import { CrudParams } from "@/modules/AdminCrudModule";
import messagesModule from "@/modules/MessagesModule";
import { ContentVisibility } from "@/definitions/enums/ContentVisibility";
import { ContentVisibilityDefinition } from "@/definitions/ContenttDefinition";
import CrudFormField from "@/definitions/CrudFormField";

@Component
export default class WidgetListTemplate extends TemplateComponent {
  addNewWidgetWindow: boolean = false;
  editWidgetWindow: boolean = false;
  searchWidgetWindow: boolean = false;

  id: string = "";
  displayName: string = "";
  groupId: string = "";
  content: string = "";
  orderInTheGroup: number = 0;
  icon: string = "";
  lang: string = "";
  visibility: Array<ContentVisibility> = [];

  allContentVisibilities: Array<ContentVisibilityDefinition> = [];
  contentVisibilityOptions: Array<Object> = [];

  alertMessage: string = "";
  alertColor: string = "";

  pageCount: number = 0;
  totalCount: number = 0;

  widgetFormAddFields: Array<CrudFormField>[] = [];
  widgetFormEditFields: Array<CrudFormField>[] = [];
  fields: Array<WidgetDefinition> = [];
  headers: Array<Object> = [];
  initialValues: Map<string, any> | any = null;

  initAddFields() {
    this.widgetFormAddFields["left"] = [
      {
        field: "id",
        placeholder: this.$t("message.admin_widgets_add_new_id_placeholder"),
      },
      {
        field: "displayName",
        placeholder: this.$t(
          "message.admin_widgets_add_new_display_name_placeholder"
        ),
      },
      {
        field: "groupId",
        placeholder: this.$t(
          "message.admin_widgets_add_new_group_id_placeholder"
        ),
      },
      {
        field: "content",
        placeholder: this.$t(
          "message.admin_widgets_add_new_content_placeholder"
        ),
        type: "editor",
      },
    ];

    this.widgetFormAddFields["right"] = [
      {
        field: "orderInTheGroup",
        label: this.$t("message.admin_widgets_add_new_order_in_the_group"),
      },
      {
        field: "lang",
        label: this.$t("message.admin_widgets_add_new_lang"),
      },
      {
        field: "visibility",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.contentVisibilityOptions,
        label: this.$t("message.admin_widgets_add_new_visibility"),
      },
    ];
  }

  initEditFields() {
    this.widgetFormEditFields["left"] = [
      {
        field: "id",
        placeholder: this.$t("message.admin_widgets_edit_id_placeholder"),
      },
      {
        field: "displayName",
        placeholder: this.$t(
          "message.admin_widgets_edit_display_name_placeholder"
        ),
      },
      {
        field: "groupId",
        placeholder: this.$t("message.admin_widgets_edit_group_id_placeholder"),
      },
      {
        field: "content",
        placeholder: this.$t("message.admin_widgets_edit_content_placeholder"),
        type: "editor",
      },
    ];

    this.widgetFormEditFields["right"] = [
      {
        field: "orderInTheGroup",
        label: this.$t("message.admin_widgets_edit_order_in_the_group"),
      },
      {
        field: "lang",
        label: this.$t("message.admin_widgets_edit_lang"),
      },
      {
        field: "visibility",
        type: "checkBoxGroup",
        checkBoxGroupOptions: this.contentVisibilityOptions,
        label: this.$t("message.admin_widgets_edit_visibility"),
      },
    ];
  }

  async initInitialValues() {
    this.initialValues = new Map<string, any>();
    const locale = messagesModule.siteLanguage;

    if (this.$route.path && this.$route.path.includes("edit")) {
      const id = this.$route.query.id;

      await adminWidgetsModule.fetchObject(
        new CrudParams("widgets/" + locale, id)
      );
      const widget: WidgetDefinition = adminWidgetsModule.widget;
      if (widget) {
        this.initialValues.set("id", widget.id);
        this.initialValues.set("displayName", widget.displayName);
        this.initialValues.set("groupId", widget.groupId);
        this.initialValues.set("content", widget.content);
        this.initialValues.set("orderInTheGroup", widget.orderInTheGroup);
        this.initialValues.set("lang", widget.lang);
        this.initialValues.set("visibility", widget.visibility);
      }
    } else {
      this.visibility = [
        ContentVisibility.GUEST,
        ContentVisibility.REGULAR_USER,
        ContentVisibility.ADMIN_SITE,
      ];
      this.initialValues.set("content", "");
      this.initialValues.set("visibility", this.visibility);
      this.initialValues.set("orderInTheGroup", 0);
      this.initialValues.set("lang", locale);
    }
  }

  initTemplateImages() {}

  initTableFields() {
    this.headers = [
      {
        value: "id",
        text: this.$t("message.admin_widgets_list_id"),
        width: "80px",
      },
      {
        value: "displayName",
        text: this.$t("message.admin_widgets_list_display_name"),
        width: "150px",
      },
      {
        value: "content",
        text: this.$t("message.admin_widgets_list_content_excerpt"),
        width: "250px",
        crudFormatter: "limitedContentFormatter",
      },
      {
        value: "orderInTheGroup",
        text: this.$t("message.admin_widgets_list_order_in_the_group"),
        width: "130px",
      },
      {
        value: "lang",
        text: this.$t("message.admin_widgets_list_lang"),
        width: "120px",
      },
      {
        value: "edit",
        text: this.$t("message.admin_widgets_list_edit"),
        width: "100px",
        crudAction: "crudEditWindow",
        crudIcon: "fa fa-edit",
      },
      {
        value: "delete",
        text: this.$t("message.admin_widgets_list_delete"),
        width: "100px",
        crudAction: "crudDelete",
        crudIcon: "fa fa-trash",
      },
    ];
  }

  async initListFields(search?: string) {
    const widget: number = Number(this.$route.query.widget) - 1;
    const locale = messagesModule.siteLanguage;

    try {
      if (search) {
        await adminWidgetsModule.fetchFindList(
          new CrudParams("widgets/" + locale, null, search, widget, null)
        );
      } else {
        await adminWidgetsModule.fetchList(
          new CrudParams("widgets/" + locale, null, null, widget, null)
        );
      }

      this.fields = adminWidgetsModule.widgets.objects;
      this.totalCount = Number(adminWidgetsModule.widgets.totalCount);
      this.pageCount = Number(adminWidgetsModule.widgets.pageCount);
    } catch (e) {
      this.fields = [];
      this.totalCount = 1;
      this.pageCount = 1;
      window.console.error("You do not have access to view widgets!");
    }
  }

  async crudAdd() {
    try {
      await adminWidgetsModule.add(
        new CrudParams("widgets", null, null, null, {
          id: this.id,
          displayName: this.displayName,
          groupId: this.groupId,
          orderInTheGroup: this.orderInTheGroup,
          content: this.content,
          lang: this.lang,
          visibility: this.visibility,
        })
      );

      this.alertMessage = "admin_widgets_add_new_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEdit() {
    try {
      const id = this.$route.query.id;
      const locale = messagesModule.siteLanguage;

      await adminWidgetsModule.edit(
        new CrudParams("widgets/" + locale, id, null, null, {
          id: this.id,
          displayName: this.displayName,
          groupId: this.groupId,
          orderInTheGroup: this.orderInTheGroup,
          content: this.content,
          lang: this.lang,
          visibility: this.visibility,
        })
      );

      this.alertMessage = "admin_widgets_edit_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }

  async crudEditWindow(id: any) {
    await this.$router
      .push({ name: "editWidget", query: { id: id } })
      .catch((e) => e);
  }

  async crudDelete(id: any) {
    await adminWidgetsModule.delete(new CrudParams("widgets", id));
    await this.initListFields();
  }

  async crudSearch(search: string) {
    await this.initListFields(search);
  }

  async initContentVisibilities() {
    await adminWidgetsModule.fetchAllContentVisibilities();
    this.allContentVisibilities = adminWidgetsModule.allContentVisibilities;
    this.contentVisibilityOptions = this.allContentVisibilities.map((c) => ({
      text: this.$t("message." + c.message),
      value: c.contentVisibility,
    }));
  }

  async beforeMount() {
    if (this.$route.path && this.$route.path.includes("add_new")) {
      await this.initContentVisibilities();
      this.initAddFields();
      await this.initInitialValues();
      this.addNewWidgetWindow = true;
    } else if (this.$route.path && this.$route.path.includes("edit")) {
      await this.initContentVisibilities();
      this.initEditFields();
      await this.initInitialValues();
      this.editWidgetWindow = true;
    } else {
      this.initTemplateImages();
      this.initTableFields();
      await this.initListFields();
    }
  }
}
</script>
