<template>
  <div
    :class="[
      `icon`,
      `icon--${name}`,
      `icon--${size}`,
      { 'has-align-fix': fixAlign },
      `tiptap_icon_${name}`,
    ]"
  />
</template>

<script lang="ts">
import TemplateComponent from "@/components/TemplateComponent";
import { Component } from "vue-property-decorator";

@Component({
  props: {
    name: {},
    size: {
      default: "normal",
    },
    modifier: {
      default: null,
    },
    fixAlign: {
      default: true,
    },
  },
})
export default class TiptapIcon extends TemplateComponent {}
</script>

<style lang="scss" scoped>
.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.3rem;
  top: -0.05rem;
  fill: currentColor;
}

.tiptap_icon_add_col_after {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_add_col_after.svg);
}

.tiptap_icon_add_col_before {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_add_col_before.svg);
}

.tiptap_icon_add_row_after {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_add_row_after.svg);
}

.tiptap_icon_add_row_before {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_add_row_before.svg);
}

.tiptap_icon_bold {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_bold.svg);
}

.tiptap_icon_checklist {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_checklist.svg);
}

.tiptap_icon_code {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_code.svg);
}

.tiptap_icon_combine_cells {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_combine_cells.svg);
}

.tiptap_icon_delete_col {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_delete_col.svg);
}

.tiptap_icon_delete_row {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_delete_row.svg);
}

.tiptap_icon_delete_table {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_delete_table.svg);
}

.tiptap_icon_github {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_github.svg);
}

.tiptap_icon_hr {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_hr.svg);
}

.tiptap_icon_image {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_image.svg);
}

.tiptap_icon_italic {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_italic.svg);
}

.tiptap_icon_link {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_link.svg);
}

.tiptap_icon_mention {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_mention.svg);
}

.tiptap_icon_ol {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_ol.svg);
}

.tiptap_icon_paragraph {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_paragraph.svg);
}

.tiptap_icon_quote {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_quote.svg);
}

.tiptap_icon_redo {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_redo.svg);
}

.tiptap_icon_remove {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_remove.svg);
}

.tiptap_icon_strike {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_strike.svg);
}

.tiptap_icon_table {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_table.svg);
}

.tiptap_icon_ul {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_ul.svg);
}

.tiptap_icon_underline {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_underline.svg);
}

.tiptap_icon_undo {
  background-image: url(../../assets/images/tiptap-icons/tiptap_icon_undo.svg);
}
</style>
