<template>
  <div class="editor">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">
        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.bold() }"
          :disabled="codeView"
          @click="commands.bold"
        >
          <tiptap-icon name="bold" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.italic() }"
          :disabled="codeView"
          @click="commands.italic"
        >
          <tiptap-icon name="italic" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.strike() }"
          :disabled="codeView"
          @click="commands.strike"
        >
          <tiptap-icon name="strike" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          :disabled="codeView"
          @click="commands.underline"
        >
          <tiptap-icon name="underline" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.paragraph() }"
          :disabled="codeView"
          @click="commands.paragraph"
        >
          <tiptap-icon name="paragraph" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          :disabled="codeView"
          @click="commands.heading({ level: 1 })"
        >
          H1
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          :disabled="codeView"
          @click="commands.heading({ level: 2 })"
        >
          H2
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          :disabled="codeView"
          @click="commands.heading({ level: 3 })"
        >
          H3
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.bullet_list() }"
          :disabled="codeView"
          @click="commands.bullet_list"
        >
          <tiptap-icon name="ul" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.ordered_list() }"
          :disabled="codeView"
          @click="commands.ordered_list"
        >
          <tiptap-icon name="ol" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.blockquote() }"
          :disabled="codeView"
          @click="commands.blockquote"
        >
          <tiptap-icon name="quote" />
        </button>

        <button
          class="menubar__button"
          :disabled="codeView"
          @click="commands.horizontal_rule"
        >
          <tiptap-icon name="hr" />
        </button>

        <button
          class="menubar__button"
          :disabled="codeView"
          @click="showImagePrompt(commands.image)"
        >
          <tiptap-icon name="image" />
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': codeView }"
          @click="toggleCodeView()"
        >
          <tiptap-icon name="code" />
        </button>

        <button
          class="menubar__button"
          :disabled="codeView"
          @click="commands.undo"
        >
          <tiptap-icon name="undo" />
        </button>

        <button
          class="menubar__button"
          :disabled="codeView"
          @click="commands.redo"
        >
          <tiptap-icon name="redo" />
        </button>
      </div>
    </editor-menu-bar>

    <textarea
      v-if="codeView"
      class="editor__content"
      v-model="textContent"
      @input="updateTextContent()"
    ></textarea>
    <editor-content v-else class="editor__content" :editor="editor" />
  </div>
</template>

<script lang="ts">
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Placeholder,
  Image,
} from "tiptap-extensions";
import TiptapIcon from "@/components/tiptap/TiptapIcon.vue";
import TemplateComponent from "@/components/TemplateComponent";
import { Component, Prop } from "vue-property-decorator";

@Component({
  components: {
    EditorContent,
    EditorMenuBar,
    TiptapIcon,
  },
})
export default class TiptapEditor extends TemplateComponent {
  @Prop()
  value: any;

  textContent: string = "";
  editor: any = null;
  codeView: boolean = false;

  @Prop({ type: String as () => string })
  placeholder!: string;

  beforeMount() {
    this.textContent = this.value;

    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
        new Placeholder({
          emptyNodeText: this.placeholder,
        }),
        new Image(),
      ],
      onUpdate: ({ getHTML }) => {
        this.textContent = getHTML();
        this.updateTextContent();
      },
      content: this.textContent,
    });
  }

  beforeDestroy() {
    if (this.editor) this.editor.destroy();
  }

  toggleCodeView() {
    this.codeView = !this.codeView;
    if (!this.codeView && this.textContent) {
      this.editor.setContent(this.textContent);
      this.updateTextContent();
    }
  }

  updateTextContent() {
    this.$emit("input", this.textContent);
  }

  showImagePrompt(command) {
    const src = prompt(this.$t("message.admin_tiptap_enter_image_url") + "");
    if (src !== null) {
      command({ src });
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../../assets/sass/tiptap/variables";
@import "../../assets/sass/tiptap/editor";
@import "../../assets/sass/tiptap/menubar";
</style>
<style lang="scss">
.editor *.is-empty:nth-child(1)::before,
.editor *.is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
}
</style>
