<template>
  <div class="disclaimer-text">
    <h1>{{ $t("message.disclaimer_title") }}</h1>
    <hr />
    <h2>{{ $t("message.disclaimer_privacy_policy") }}</h2>
    <div v-html="privacyPolicy"></div>
    <br /><br />
    <h2>{{ $t("message.disclaimer_terms_of_service") }}</h2>
    <div v-html="termsOfService"></div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class DisclaimerTemplate extends TemplateComponent {
  @Prop({ type: String as () => string })
  privacyPolicy!: string;

  @Prop({ type: String as () => string })
  termsOfService!: string;
}
</script>

<style lang="scss">
.disclaimer-text {
  border: 1px solid #e5e5e5;
  height: 200px;
  overflow: auto;
  padding: 10px;
}
</style>
