<template>
  <v-row>
    <!-- Arctic Wolf Logo -->
    <v-col cols="12" sm="12" md="12" lg="2" class="aw-logo">
      <router-link to="/">
        <div class="aw-logo-image" />
      </router-link>
    </v-col>

    <!-- Arctic Wolf Logo Title -->
    <v-col cols="12" sm="12" md="12" lg="7" class="aw-logo-title">
      <router-link to="/">
        <span class="aw-logo-title-arctic">Arctic</span>
        <span class="aw-logo-title-wolf">Wolf</span>
      </router-link>
    </v-col>

    <v-col cols="12" sm="12" md="12" lg="3"></v-col>
  </v-row>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class HeaderTemplate extends TemplateComponent {}
</script>

<style lang="scss">
.aw-logo-image {
  background-image: url("../../assets/images/aw-logo.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}

.aw-logo {
  max-width: 150px;
  max-height: 150px;
}

.aw-logo-title a:hover {
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .aw-logo {
    left: 80px;
    padding-left: 80px;
  }

  .aw-logo-title {
    text-align: center;
    min-width: 320px;
    min-height: 150px;
  }

  .aw-logo-title-arctic {
    font-family: "Merriweather", serif;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: -3.2px;
    color: #337ab7;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-shadow: 0 0 9px #000000;
  }

  .aw-logo-title-wolf {
    font-family: "Merriweather", serif;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: -3.2px;
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-shadow: 0 0 9px #000000;
  }
}

@media screen and (min-width: 1000px) {
  .aw-logo {
    padding-left: 0;
  }

  .aw-logo-title {
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    padding-top: 30px;
    padding-left: 150px;
  }

  .aw-logo-title-arctic {
    font-family: "Merriweather", serif;
    font-size: 70px;
    letter-spacing: 3px;
    word-spacing: -3.2px;
    color: #337ab7;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-shadow: 0 0 9px #000000;
  }

  .aw-logo-title-wolf {
    font-family: "Merriweather", serif;
    font-size: 70px;
    letter-spacing: 3px;
    word-spacing: -3.2px;
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-shadow: 0 0 9px #000000;
  }
}
</style>
