<template>
  <div>
    <!-- SSO Login -->
    <div class="login-sso-form" v-if="ssoLoginAllowed">
      <hr />
      <h1>{{ $t("message.login_login_sso") }}</h1>

      <div class="sso-login-wrapper">
        <br />

        <!-- Facebook Button -->
        <div class="inline-block" v-if="ssoFacebookLoginAllowed">
          <a class="loginBtn loginBtn--facebook" :href="facebookAuthURL">{{
            $t("message.login_login_with_facebook")
          }}</a>
        </div>

        <!-- Google Button -->
        <div class="inline-block" v-if="ssoGoogleLoginAllowed">
          <a class="loginBtn loginBtn--google" :href="googleAuthURL">{{
            $t("message.login_login_with_google")
          }}</a>
        </div>
      </div>
    </div>

    <!-- Regular Login -->
    <div
      class="login-wrapper"
      v-if="regularLoginAllowed"
      v-on:keydown.enter="onSubmit()"
    >
      <hr />
      <div class="regular-login-form">
        <h1>{{ $t("message.login_login") }}</h1>

        <!-- Alert -->
        <alert-template
          :alert-message="alertMessage"
          :alert-color="alertColor"
        />

        <!-- Username -->
        <text-field-template
          :label="$t('message.login_username')"
          prepend-inner-icon="person"
          v-model="username"
          :placeholder="$t('message.login_username_placeholder')"
        />

        <!-- Password -->
        <text-field-template
          :label="$t('message.login_password')"
          prepend-inner-icon="lock"
          v-model="password"
          :placeholder="$t('message.login_password_placeholder')"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
          @append="showPassword = !showPassword"
        />

        <!-- Login Button -->
        <v-col cols="12" sm="6" md="6">
          <v-btn
            color="primary"
            @click="onSubmit()"
            v-text="$t('message.login_login')"
          />
        </v-col>

        <!-- Registration -->
        <v-col cols="12" sm="6" md="6" v-if="regularRegistrationAllowed">
          <span>{{ $t("message.login_before_register_button") }} </span>
          <router-link to="/register">{{
            $t("message.login_register")
          }}</router-link>
        </v-col>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { AuthParams } from "@/modules/AuthModule";
import authModule from "@/modules/AuthModule";

import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";

@Component
export default class LoginFormTemplate extends TemplateComponent {
  ssoLoginAllowed: boolean = false;
  ssoFacebookLoginAllowed: boolean = false;
  ssoGoogleLoginAllowed: boolean = false;
  regularLoginAllowed: boolean = false;
  regularRegistrationAllowed: boolean = false;
  facebookAuthURL: string = "";
  googleAuthURL: string = "";

  username: string = "";
  password: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  showPassword: boolean = false;

  mounted() {
    this.ssoLoginAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "ssoLoginAllowed"
      ) === "true";

    this.ssoFacebookLoginAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "ssoFacebookLoginAllowed"
      ) === "true";

    this.ssoGoogleLoginAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "ssoGoogleLoginAllowed"
      ) === "true";

    this.regularLoginAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "regularLoginAllowed"
      ) === "true";

    this.regularRegistrationAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "regularRegistrationAllowed"
      ) === "true";

    this.facebookAuthURL = getPropertyValue(
      serverSettingsModule.serverSettings,
      "facebookAuthURL"
    );

    this.googleAuthURL = getPropertyValue(
      serverSettingsModule.serverSettings,
      "googleAuthURL"
    );
  }

  async onSubmit() {
    try {
      await authModule.login(
        new AuthParams(this.$root, this.$router, this.$route, {
          username: this.username,
          password: this.password,
        })
      );
    } catch (e) {
      this.alertMessage = e.response.data.message
        ? e.response.data.message
        : "login_sign_in_error";
      this.alertColor = "red";
    }
  }
}
</script>

<style lang="scss">
.sso-login-wrapper {
  .inline-block {
    display: inline-block;
  }

  /* Shared */
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;	- apply for fixed size */
    margin: 0.2em;
    padding: 8px 15px 8px 50px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #fff;
    width: 220px;
  }

  a.loginBtn {
    color: #e5e5e5;
  }

  a.loginBtn:hover {
    color: #ffffff;
  }

  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }

  .loginBtn:focus {
    outline: none;
  }

  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }

  /* Facebook */
  .loginBtn--facebook {
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354c8c;
  }

  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url("../../assets/images/icon_facebook.png") 6px 6px no-repeat;
  }

  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
  }

  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #dd4b39;
  }

  .loginBtn--google:before {
    border-right: #bb3f30 1px solid;
    background: url("../../assets/images/icon_google.png") 6px 6px no-repeat;
  }

  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #e74b37;
  }
}

@media screen and (min-width: 320px) {
  .sso-login-wrapper {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sso-login-wrapper {
    padding-left: 100px;
  }
}
</style>
