<template>
  <!-- Page Block Wrapper -->
  <div v-if="currentPage" class="page-block-wrapper">
    <!-- Page Block Header -->
    <div class="page-block-header">
      <!-- Page Block Title -->
      <h2 class="page-block-title">
        <router-link
          v-if="currentPage.friendlyURL"
          :to="{
            name: 'pageByFriendlyURL',
            params: { friendlyURL: currentPage.friendlyURL },
          }"
        >
          <i v-if="currentPage.icon" :class="currentPage.icon"></i>
          <span>{{ currentPage.title }}</span>
        </router-link>

        <router-link
          v-else
          :to="{ name: 'pageById', query: { id: currentPage.id } }"
        >
          <i v-if="currentPage.icon" :class="currentPage.icon"></i>
          <span>{{ currentPage.title }}</span>
        </router-link>
      </h2>

      <!-- Page Block Header Splitter -->
      <hr class="page-block-header-splitter" />
    </div>

    <!-- Page Block Content -->
    <div class="page-block-content">
      <p v-html="currentPage.content"></p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { PageDefinition } from "@/definitions/PageDefinition";

@Component
export default class PageBlockTemplate extends TemplateComponent {
  @Prop({ type: Object as () => PageDefinition })
  currentPage!: PageDefinition;
}
</script>
