<template>
  <!-- Post Block Wrapper -->
  <div v-if="currentPost" class="post-block-wrapper">
    <!-- Post Block Header -->
    <div class="post-block-header">
      <!-- Post Block Title -->
      <h2 class="post-block-title">
        <router-link
          v-if="currentPost.friendlyURL"
          :to="{
            name: 'postByFriendlyURL',
            params: { friendlyURL: currentPost.friendlyURL },
          }"
        >
          <i v-if="currentPost.icon" :class="currentPost.icon"></i>
          <span>{{ currentPost.title }}</span>
        </router-link>

        <router-link
          v-else
          :to="{ name: 'postById', query: { id: currentPost.id } }"
        >
          <i v-if="currentPost.icon" :class="currentPost.icon"></i>
          <span>{{ currentPost.title }}</span>
        </router-link>
      </h2>

      <!-- Post Block Author -->
      <p class="post-block-author lead">
        <span>{{ $t("message.content_post_before_author") }} </span>
        <router-link
          v-if="currentPost.authorId"
          :to="{ name: 'profileById', query: { id: currentPost.authorId } }"
          v-text="currentPost.author"
        ></router-link>
        <router-link v-else to="#" v-text="currentPost.author"></router-link>
      </p>

      <!-- Post Block Create Time -->
      <p class="post-block-create-time">
        <i class="fa fa-clock-o"></i>
        <span> {{ $t("message.content_posted_on") }} </span>
        <span>{{ new Date(currentPost.createTime).toUTCString() }}</span>
      </p>

      <!-- Post Block Header Splitter -->
      <hr class="post-block-header-splitter" />
    </div>

    <!-- Post Block Content -->
    <div class="post-block-content">
      <read-more-template
        :read-more-enabled="postReadMore"
        :character-limit="readMoreCharacterLimit"
        :content="currentPost.content"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { PostDefinition } from "@/definitions/PostDefinition";

@Component
export default class PostBlockTemplate extends TemplateComponent {
  @Prop({ type: Object as () => PostDefinition })
  currentPost!: PostDefinition;

  @Prop({ type: Boolean as () => boolean })
  postReadMore!: boolean;

  @Prop({ type: Number as () => number })
  readMoreCharacterLimit!: number;
}
</script>
