<template>
  <div class="profile-wrapper">
    <!-- Profile View Mode -->
    <div class="profile-form" v-if="viewUserId">
      <h1>{{ $t("message.profile_profile") }}</h1>
      <div class="col-lg-2 float-md-right" v-if="imageUrl">
        <div class="profile-view-avatar-wrapper">
          <img
            alt="profile_avatar"
            class="profile-view-avatar"
            :src="imageUrl"
          />
        </div>
      </div>

      <!-- Display Name -->
      <text-field-template
        :label="$t('message.profile_display_name')"
        prepend-inner-icon="person"
        v-model="displayName"
        :placeholder="$t('message.profile_display_name_placeholder')"
        disabled
      />

      <!-- Bio -->
      <text-field-template
        :label="$t('message.profile_bio')"
        prepend-inner-icon="fa fa-address-card-o"
        v-model="bio"
        :placeholder="$t('message.profile_bio_placeholder')"
        type="textarea"
        disabled
      />
    </div>

    <!-- Profile Edit Mode -->
    <div class="profile-form" v-else-if="currentUser">
      <h1>{{ $t("message.profile_profile") }}</h1>

      <!-- Alert -->
      <alert-template :alert-message="alertMessage" :alert-color="alertColor" />

      <div class="col-lg-2 float-md-right" v-if="imageUrl">
        <div class="profile-view-avatar-wrapper">
          <img
            alt="profile_avatar"
            class="profile-view-avatar"
            :src="imageUrl"
          />
        </div>
      </div>

      <!-- Username -->
      <text-field-template
        :label="$t('message.profile_username')"
        prepend-inner-icon="person"
        v-model="currentUser.username"
        value="test"
        :placeholder="$t('message.profile_username_placeholder')"
        disabled
      />

      <!-- Email -->
      <text-field-template
        :label="$t('message.profile_email')"
        prepend-inner-icon="email"
        v-model="currentUser.email"
        :placeholder="$t('message.profile_email_placeholder')"
        disabled
      />

      <!-- Display Name -->
      <text-field-template
        :label="$t('message.profile_display_name')"
        prepend-inner-icon="person"
        v-model="displayName"
        :placeholder="$t('message.profile_display_name_placeholder')"
      />

      <!-- Birth Date -->
      <text-field-template
        :label="$t('message.profile_birth_date')"
        prepend-inner-icon="event"
        v-model="birthDate"
        :placeholder="$t('message.profile_birth_date_placeholder')"
        type="birth-date-picker"
      />

      <!-- Image URL -->
      <text-field-template
        :label="$t('message.profile_image_url')"
        prepend-inner-icon="fa fa-picture-o"
        v-model="imageUrl"
        :placeholder="$t('message.profile_image_url_placeholder')"
      />

      <!-- Bio -->
      <text-field-template
        :label="$t('message.profile_bio')"
        prepend-inner-icon="fa fa-address-card-o"
        v-model="bio"
        :placeholder="$t('message.profile_bio_placeholder')"
        type="textarea"
      />

      <!-- Save Button -->
      <v-col cols="12" sm="6" md="6">
        <v-btn
          color="primary"
          @click="onSubmit()"
          v-text="$t('message.profile_save')"
        />
      </v-col>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { UserDefinition } from "@/definitions/UserDefinition";
import authModule from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";

@Component
export default class ProfileFormTemplate extends TemplateComponent {
  isAuthenticated: boolean = false;
  viewUserId: string | any = null;
  currentUser: UserDefinition | any = null;

  email: string = "";
  displayName: string = "";
  birthDate: string = "";
  imageUrl: string = "";
  bio: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  async beforeMount() {
    this.isAuthenticated = authModule.isAuthenticated;
    if (!this.isAuthenticated) {
      await this.$router.push("/login");
      return;
    }

    this.viewUserId = this.$route.query.id;
    this.currentUser = usersModule.currentUser;

    if (this.viewUserId) {
      await usersModule.fetchUser(this.viewUserId);

      this.displayName = usersModule.user.displayName;
      this.imageUrl = usersModule.user.imageUrl;
      this.bio = usersModule.user.bio;
    } else if (this.currentUser) {
      this.email = this.currentUser.email;
      this.displayName = this.currentUser.displayName;
      this.birthDate = this.currentUser.birthDate;
      this.imageUrl = this.currentUser.imageUrl;
      this.bio = this.currentUser.bio;
    }
  }

  async onSubmit() {
    try {
      await usersModule.saveMyProfile({
        displayName: this.displayName,
        birthDate: this.birthDate,
        imageUrl: this.imageUrl,
        bio: this.bio,
      });

      this.alertMessage = "profile_save_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }
}
</script>
<style lang="scss">
.profile-view-avatar-wrapper {
  float: right;
}

.profile-view-avatar {
  border: 2px solid #707984;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
</style>
