<template>
  <div v-if="readMoreEnabled && characterLimit > 0">
    <p v-html="contentToDisplay"></p>
    <v-btn color="primary" @click="expandCollapseAction()">
      {{
        expanded
          ? this.$t("message.content_post_read_less")
          : this.$t("message.content_post_read_more")
      }}
    </v-btn>
  </div>

  <div v-else>
    <p v-html="content"></p>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class ReadMoreTemplate extends TemplateComponent {
  @Prop()
  readMoreEnabled!: boolean;

  @Prop()
  content!: string;

  @Prop()
  characterLimit!: number;

  contentToDisplay: string = "";
  expanded: boolean = false;

  mounted() {
    this.initContentToDisplay();
  }

  expandCollapseAction() {
    this.expanded = !this.expanded;
    this.initContentToDisplay();
  }

  initContentToDisplay() {
    this.contentToDisplay = this.expanded
      ? this.content
      : this.content.slice(0, this.characterLimit) + " ...";
  }
}
</script>
