<template>
  <div>
    <!-- Regular Register -->
    <div class="registration-wrapper" v-if="regularRegistrationAllowed">
      <hr />
      <div class="regular-registration-form">
        <h1>{{ $t("message.register_register") }}</h1>

        <!-- Alert -->
        <alert-template
          :alert-message="alertMessage"
          :alert-color="alertColor"
        />

        <!-- Username -->
        <text-field-template
          :label="$t('message.register_username')"
          prepend-inner-icon="person"
          v-model="username"
          :placeholder="$t('message.register_username_placeholder')"
        />

        <!-- Password -->
        <text-field-template
          :label="$t('message.register_password')"
          prepend-inner-icon="lock"
          v-model="password"
          :placeholder="$t('message.register_password_placeholder')"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
          @append="showPassword = !showPassword"
        />

        <!-- Password Confirm -->
        <text-field-template
          :label="$t('message.register_password_confirm')"
          prepend-inner-icon="lock"
          v-model="passwordConfirm"
          :placeholder="$t('message.register_password_confirm_placeholder')"
          :type="showPasswordConfirm ? 'text' : 'password'"
          :append-icon="showPasswordConfirm ? 'fa fa-eye' : 'fa fa-eye-slash'"
          @append="showPasswordConfirm = !showPasswordConfirm"
        />

        <!-- Email -->
        <text-field-template
          :label="$t('message.register_email')"
          prepend-inner-icon="email"
          v-model="email"
          :placeholder="$t('message.register_email_placeholder')"
        />

        <!-- Display Name -->
        <text-field-template
          :label="$t('message.register_display_name')"
          prepend-inner-icon="person"
          v-model="displayName"
          :placeholder="$t('message.register_display_name_placeholder')"
        />

        <!-- Birth Date -->
        <text-field-template
          :label="$t('message.register_birth_date')"
          prepend-inner-icon="event"
          v-model="birthDate"
          :placeholder="$t('message.register_birth_date_placeholder')"
          type="birth-date-picker"
        />

        <!-- ReCaptcha -->
        <div class="form-group" v-if="reCaptchaVerificationAllowed">
          <div class="col-lg-4 control-label"></div>
          <div class="col-lg-4">
            <div
              id="g-recaptcha"
              class="g-recaptcha"
              :data-sitekey="reCaptchaSiteKey"
            ></div>
          </div>
        </div>

        <br />

        <!-- Register Button -->
        <v-col cols="12" sm="6" md="6">
          <v-btn
            color="primary"
            @click="onSubmit()"
            v-text="$t('message.register_register')"
          />
        </v-col>
      </div>
    </div>
    <div v-else class="registration-wrapper">
      <hr />
      {{ $t("message.register_regular_disabled_content") }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import authModule from "@/modules/AuthModule";
import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";
import { addScript } from "@/util";
import messagesModule from "@/modules/MessagesModule";

declare var grecaptcha: any;

@Component
export default class RegisterFormTemplate extends TemplateComponent {
  regularRegistrationAllowed: boolean = false;
  reCaptchaVerificationAllowed: boolean = false;
  reCaptchaSiteKey: string = "";

  username: string = "";
  password: string = "";
  passwordConfirm: string = "";
  email: string = "";
  displayName: string = "";
  birthDate: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  showPassword: boolean = false;
  showPasswordConfirm: boolean = false;

  mounted() {
    this.regularRegistrationAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "regularRegistrationAllowed"
      ) === "true";

    this.reCaptchaVerificationAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "reCaptchaVerificationAllowed"
      ) === "true";

    if (this.reCaptchaVerificationAllowed) {
      this.reCaptchaSiteKey = getPropertyValue(
        serverSettingsModule.serverSettings,
        "reCaptchaSiteKey"
      );
      const locale = messagesModule.siteLanguage;
      addScript("http://www.google.com/recaptcha/api.js?hl=" + locale);
    }
  }

  async onSubmit() {
    const response = grecaptcha.getResponse();

    try {
      await authModule.register({
        username: this.username,
        password: this.password,
        passwordConfirm: this.passwordConfirm,
        email: this.email,
        displayName: this.displayName,
        birthDate: this.birthDate,
        recaptchaResponse: response,
      });

      this.alertMessage = authModule.registerResponse;
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }
}
</script>
