<template>
  <div class="registration-confirm-wrapper">
    <!-- Alert -->
    <alert-template :alert-message="alertMessage" :alert-color="alertColor" />

    <!-- The Token -->
    <div class="registration-confirm-your-token">
      <strong class="text-muted">
        {{ $t("message.user_verification_your_token") }}
      </strong>
      <span>{{ this.$route.query.token }}</span>
    </div>
    <br />

    <!-- Activate Button -->
    <v-btn
      color="primary"
      v-text="$t('message.user_verification_activate')"
      @click="onSubmit()"
      :disabled="used"
    />
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import usersVerificationModule from "@/modules/UsersVerificationModule";
import { sleep } from "@/util";

@Component
export default class RegistrationConfirmTemplate extends TemplateComponent {
  alertMessage: string = "";
  alertColor: string = "";
  used: boolean = false;

  async onSubmit() {
    try {
      const token = "" + this.$route.query.token;
      await usersVerificationModule.verify(token);
      const response = usersVerificationModule.verificationResponse;

      this.alertMessage = response.message;
      this.alertColor = response.success ? "green" : "red";

      if (response.success) {
        this.used = true;
        await sleep(1500);
        await this.$router.push("/");
      }
    } catch (e) {
      this.alertMessage = "user_verification_token_invalid";
      this.alertColor = "red";
    }
  }
}
</script>
