<template>
  <v-col cols="12" sm="6" md="6">
    <v-label v-if="label">{{ label }}</v-label>

    <v-menu
      v-if="type === 'birth-date-picker'"
      ref="birthDateMenu"
      v-model="showBirthDateMenu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="birthDate"
          :prepend-inner-icon="prependInnerIcon"
          readonly
          v-on="on"
          :placeholder="placeholder"
          :append-icon="appendIcon"
          @click:append="$emit('append')"
          solo
          :disabled="disabled"
        />
      </template>
      <v-date-picker
        ref="birthDatePicker"
        v-model="birthDate"
        :max="new Date().toISOString().substr(0, 10)"
        min="1900-01-01"
        @change="saveBirthDate"
      />
    </v-menu>

    <v-textarea
      v-else-if="type === 'textarea'"
      :prepend-inner-icon="prependInnerIcon"
      @input="$emit('input', $event)"
      :value="value"
      :placeholder="placeholder"
      :type="type"
      :append-icon="appendIcon"
      @click:append="$emit('append')"
      solo
      :disabled="disabled"
    />

    <v-text-field
      v-else
      :prepend-inner-icon="prependInnerIcon"
      @input="$emit('input', $event)"
      :value="value"
      :placeholder="placeholder"
      :type="type"
      :append-icon="appendIcon"
      @click:append="$emit('append')"
      solo
      :disabled="disabled"
    />
  </v-col>
</template>

<script lang="ts">
import { Component, Prop, Watch } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class TextFieldTemplate extends TemplateComponent {
  @Prop()
  value!: any;

  @Prop()
  label!: string;

  @Prop()
  prependInnerIcon!: string;

  @Prop()
  placeholder!: string;

  @Prop({ default: "text" })
  type!: string;

  @Prop()
  appendIcon!: string;

  @Prop()
  disabled!: boolean;

  showBirthDateMenu: boolean = false;
  birthDate: string = this.getValueBirthDate();

  @Watch("showBirthDateMenu")
  birthDateMenuWatch(val) {
    val &&
      setTimeout(
        () => ((this.$refs.birthDatePicker as any).activePicker = "YEAR")
      );
  }

  saveBirthDate(date) {
    (this.$refs.birthDateMenu as any).save(date);
    this.$emit("input", date);
  }

  getValueBirthDate(): string {
    try {
      let date = new Date(this.value);
      return new Date(
        date.getTime() + Math.abs(date.getTimezoneOffset() * 60000)
      )
        .toISOString()
        .substr(0, 10);
    } catch (e) {
      // ignore
      return "1970-01-01";
    }
  }
}
</script>
