<template>
  <div class="user-settings-wrapper">
    <h1>{{ $t("message.user_settings_user_settings") }}</h1>

    <!-- Alert -->
    <alert-template :alert-message="alertMessage" :alert-color="alertColor" />

    <!-- Password -->
    <text-field-template
      :label="$t('message.user_settings_password')"
      prepend-inner-icon="lock"
      v-model="password"
      :placeholder="$t('message.user_settings_password_placeholder')"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
      @append="showPassword = !showPassword"
    />

    <!-- Password Confirm -->
    <text-field-template
      :label="$t('message.user_settings_password_confirm')"
      prepend-inner-icon="lock"
      v-model="passwordConfirm"
      :placeholder="$t('message.user_settings_password_confirm_placeholder')"
      :type="showPasswordConfirm ? 'text' : 'password'"
      :append-icon="showPasswordConfirm ? 'fa fa-eye' : 'fa fa-eye-slash'"
      @append="showPasswordConfirm = !showPasswordConfirm"
    />

    <!-- Register Button -->
    <v-col cols="12" sm="6" md="6">
      <v-btn
        color="primary"
        @click="onSubmit()"
        v-text="$t('message.user_settings_save')"
      />
    </v-col>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import usersModule from "@/modules/UsersModule";

@Component
export default class UserSettingsFormTemplate extends TemplateComponent {
  password: string = "";
  passwordConfirm: string = "";

  alertMessage: string = "";
  alertColor: string = "";

  showPassword: boolean = false;
  showPasswordConfirm: boolean = false;

  async onSubmit() {
    try {
      await usersModule.saveMyUserSettings({
        password: this.password,
        passwordConfirm: this.passwordConfirm,
      });

      this.alertMessage = "user_settings_save_success";
      this.alertColor = "green";
    } catch (e) {
      this.alertMessage = e.response.data.message;
      this.alertColor = "red";
    }
  }
}
</script>
