<template>
  <div v-if="w">
    <!-- Widget Header-->
    <div class="widget-header">
      <!-- Widget Header Title -->
      <h4 class="widget-header-title" v-html="w.displayName"></h4>

      <!-- Widget Block Header Splitter -->
      <hr class="widget-block-header-splitter" />
    </div>

    <!-- Widget Content -->
    <div class="widget-content">
      <p v-html="w.content"></p>
    </div>

    <!-- Links -->
    <ul class="list-unstyled widget-links">
      <li
        class="widget-link-wrapper"
        v-for="(link, index) in w.links"
        :key="index"
      >
        <menu-button-template
          color="primary"
          :text="true"
          :small="true"
          :link="link"
        />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { WidgetDefinition } from "@/definitions/WidgetDefinition";

@Component
export default class WidgetBlockTemplate extends TemplateComponent {
  @Prop({ type: Object as () => WidgetDefinition })
  w!: WidgetDefinition;
}
</script>
