<template>
  <div></div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeStyles extends ThemeComponent {
  beforeMount() {
    // light
    this.$vuetify.theme.themes.light.primary = "#1976D2";
    this.$vuetify.theme.themes.light.secondary = "#c7c7c7";
    this.$vuetify.theme.themes.light.card = "#f8f9fa";
    this.$vuetify.theme.themes.light["top-navbar"] = "#202326";
    this.$vuetify.theme.themes.light.accent = "#82B1FF";
    this.$vuetify.theme.themes.light.error = "#FF5252";
    this.$vuetify.theme.themes.light.info = "#2196F3";
    this.$vuetify.theme.themes.light.success = "#4CAF50";
    this.$vuetify.theme.themes.light.warning = "#FFC107";

    // dark
    this.$vuetify.theme.themes.dark.primary = "#2196F3";
    this.$vuetify.theme.themes.dark.secondary = "#424242";
    this.$vuetify.theme.themes.dark.card = "#343a40";
    this.$vuetify.theme.themes.dark["top-navbar"] = "#202326";
    this.$vuetify.theme.themes.dark.accent = "#FF4081";
    this.$vuetify.theme.themes.dark.error = "#FF5252";
    this.$vuetify.theme.themes.dark.info = "#2196F3";
    this.$vuetify.theme.themes.dark.success = "#4CAF50";
    this.$vuetify.theme.themes.dark.warning = "#FB8C00";
  }
}
</script>

<style lang="scss">
.example-header {
  max-height: 300px;
  padding-top: 70px;
}

.panel-wrapper {
  padding: 10px;
  border-radius: 1px;
  border-color: #000000;
}

.example-image1 {
  background-image: url("images/image1.jpg");
  background-size: 195px 82px;
  width: 195px;
  height: 82px;
}

.example-image2 {
  background-image: url("images/image2.jpg");
  background-size: 195px 82px;
  width: 195px;
  height: 82px;
}

.example-image3 {
  background-image: url("images/image3.jpg");
  background-size: 195px 82px;
  width: 195px;
  height: 82px;
}

@media screen and (min-width: 320px) {
  .v-application {
    .container-wrapper {
    }

    .header-wrapper {
      height: 200px;
    }

    .router-view-wrapper {
    }

    .widget-wrapper {
    }

    .footer-wrapper {
    }
  }
}

@media screen and (min-width: 1000px) {
  .v-application {
    .container-wrapper {
      width: 1200px;
    }

    .header-wrapper {
      height: 200px;
    }

    .router-view-wrapper {
    }

    .widget-wrapper {
    }

    .footer-wrapper {
    }
  }
}

.style-light {
  .panel-wrapper {
    background-color: #e6e6e6;
  }
}

.style-dark {
  .panel-wrapper {
    background-color: #383c42;
  }
}
</style>
