<template>
  <div class="panel-wrapper">
    <page-block-template :currentPage="currentPage" />
  </div>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { PageDefinition } from "@/definitions/PageDefinition";

@Component
export default class ThemePage extends ThemeComponent {
  @Prop({ type: Object as () => PageDefinition })
  currentPage!: PageDefinition;
}
</script>
