<template>
  <div class="panel-wrapper">
    {{ $t("message.content_no_page_content") }}
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeNotFound extends ThemeComponent {}
</script>
