<template>
  <div class="panel-wrapper">
    <post-block-template :currentPost="currentPost" :postReadMore="false" />
  </div>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { PostDefinition } from "@/definitions/PostDefinition";

@Component
export default class ThemePost extends ThemeComponent {
  @Prop({ type: Object as () => PostDefinition })
  currentPost!: PostDefinition;
}
</script>
