<template>
  <!-- Home as Page -->
  <div v-if="homeContentPageId > -1">
    <div class="panel-wrapper">
      <page-block-template :currentPage="currentPage" />
    </div>
    <br />
  </div>

  <!-- Home with posts -->
  <div v-else>
    <div v-if="posts.length > 0">
      <div v-for="(currentPost, index) in posts" :key="index">
        <div class="panel-wrapper">
          <post-block-template
            :currentPost="currentPost"
            :postReadMore="true"
            :readMoreCharacterLimit="readMoreCharacterLimit"
          />
        </div>
        <br />
      </div>

      <!-- Page Navigation -->
      <v-pagination
        :length="pageCount ? Number(pageCount) : 1"
        :value="$route.query.page ? Number($route.query.page) : 1"
        total-visible="10"
        next-icon="navigate_next"
        prev-icon="navigate_before"
        @input="$root.$emit('onPageChange', $event)"
      />
    </div>
    <div v-else>
      <div class="panel-wrapper">
        {{ $t("message.content_no_posts") }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";
import { PageDefinition } from "@/definitions/PageDefinition";
import { PostDefinition } from "@/definitions/PostDefinition";

@Component
export default class ThemeHome extends ThemeComponent {
  @Prop({ type: Array as () => Array<PostDefinition> })
  posts!: Array<PostDefinition>;

  @Prop()
  pageCount!: number;

  @Prop()
  totalCount!: number;

  @Prop({ type: Object as () => PageDefinition })
  currentPage!: PageDefinition;

  @Prop({ type: Number as () => number })
  homeContentPageId!: number;

  @Prop({ type: Number as () => number })
  readMoreCharacterLimit!: number;
}
</script>
