<template>
  <div class="panel-wrapper">
    <user-settings-form-template />
  </div>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component } from "vue-property-decorator";

@Component
export default class ThemeUserSettings extends ThemeComponent {}
</script>
