<template>
  <v-row class="example-header">
    <!-- Header -->
    <v-col cols="12" sm="12" md="12" lg="12" class="panel-wrapper">
      <v-row>
        <router-link to="/">
          <h2>Example Header</h2>
        </router-link>
        <div class="example-image1 hidden-md-and-down" />
        <div class="example-image2 hidden-md-and-down" />
        <div class="example-image3 hidden-md-and-down" />
      </v-row>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeHeader extends ThemeComponent {}
</script>
