<template>
  <div>
    <!-- Widgets -->
    <div v-for="(w, index) in widgets" :key="index">
      <div v-if="w.groupId === 'rightWidgetGroup'" class="panel-wrapper mb-3">
        <widget-block-template :w="w" />
      </div>
      <br />
    </div>
  </div>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { WidgetDefinition } from "@/definitions/WidgetDefinition";

@Component
export default class ThemeWidget extends ThemeComponent {
  @Prop()
  widgets!: Array<WidgetDefinition>;
}
</script>
