<template>
  <div>
    <footer-template />
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeFooter extends ThemeComponent {}
</script>
