<template>
  <theme-home
    :posts="posts"
    :pageCount="pageCount"
    :totalCount="totalCount"
    :currentPage="currentPage"
    :homeContentPageId="homeContentPageId"
    :readMoreCharacterLimit="readMoreCharacterLimit"
  />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";
import postsModule from "@/modules/PostsModule";
import { PostDefinition, PostListParams } from "@/definitions/PostDefinition";
import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";
import pagesModule from "@/modules/PagesModule";
import { PageDefinition } from "@/definitions/PageDefinition";
import { ContentParams } from "@/definitions/ContenttDefinition";
import { parseNumber } from "@/util";
import messagesModule from "@/modules/MessagesModule";

@Component({
  components: {
    ThemeHome: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeHome.vue"),
  },
})
export default class Home extends ViewComponent {
  posts: Array<PostDefinition> = [];
  pageCount: number = 0;
  totalCount: number = 0;
  currentPage: PageDefinition | any = null;
  homeContentPageId: number = -1;
  readMoreCharacterLimit: number = 300;

  async beforeMount() {
    await this.initHomeView();

    this.$root.$on("onPageChange", (page) => this.onPageChange(page));
  }

  async initHomeView() {
    const locale = messagesModule.siteLanguage;
    await this.initServerSettings();

    if (this.homeContentPageId > -1) {
      await this.initHomeViewAsPage(locale);
    } else {
      await this.initHomeViewWithPosts(locale);
    }
  }

  async initHomeViewAsPage(locale: string) {
    try {
      await pagesModule.fetchPageById(
        new ContentParams(
          locale,
          "" + this.homeContentPageId,
          "",
          this.$route.fullPath
        )
      );
      this.currentPage = pagesModule.currentPage;
    } catch (e) {
      await this.$router.push("/not-found");
    }
  }

  async initHomeViewWithPosts(locale: string) {
    const page = parseNumber(this.$route.query.page, 0) - 1;

    try {
      await postsModule.fetchPosts(new PostListParams(locale, page));

      this.posts = postsModule.posts.posts;
      this.totalCount = postsModule.posts.totalCount;
      this.pageCount = postsModule.posts.pageCount;
    } catch (e) {
      this.posts = [];
      this.totalCount = 1;
      this.pageCount = 1;
    }
  }

  async initServerSettings() {
    this.homeContentPageId = Number(
      getPropertyValue(serverSettingsModule.serverSettings, "homeContentPageId")
    );

    this.readMoreCharacterLimit = Number(
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "readMoreCharacterLimit"
      )
    );
  }

  async onPageChange(page: string) {
    await this.$router
      .push({ name: "home", query: { page: page } })
      .catch((e) => e);
  }
}
</script>
