<template>
  <theme-login :currentAgreement="currentAgreement" />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import AgreementViewComponent from "@/components/AgreementViewComponent";

@Component({
  components: {
    ThemeLogin: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeLogin.vue"),
  },
})
export default class Login extends AgreementViewComponent {
  async beforeMount() {
    await super.beforeMount();
  }
}
</script>
