<template>
  <theme-page :currentPage="currentPage" />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";
import pagesModule from "@/modules/PagesModule";
import { PageDefinition } from "@/definitions/PageDefinition";
import { ContentParams } from "@/definitions/ContenttDefinition";
import messagesModule from "@/modules/MessagesModule";

@Component({
  components: {
    ThemePage: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemePage.vue"),
  },
})
export default class Page extends ViewComponent {
  currentPage: PageDefinition | any = null;

  async beforeMount() {
    await this.initPageView();
  }

  async initPageView() {
    const locale = messagesModule.siteLanguage;

    const friendlyURL = this.$route.params.friendlyURL;
    const id = "" + this.$route.query.id;

    try {
      if (friendlyURL) {
        await pagesModule.fetchPageByURL(
          new ContentParams(locale, "", friendlyURL, this.$route.fullPath)
        );
      } else if (id) {
        await pagesModule.fetchPageById(
          new ContentParams(locale, id, "", this.$route.fullPath)
        );
      }
    } catch (e) {
      await this.$router.push("/not-found");
    }

    this.currentPage = pagesModule.currentPage;
  }
}
</script>
