<template>
  <theme-post :currentPost="currentPost" />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";
import postsModule from "@/modules/PostsModule";
import { PostDefinition } from "@/definitions/PostDefinition";
import { ContentParams } from "@/definitions/ContenttDefinition";
import messagesModule from "@/modules/MessagesModule";

@Component({
  components: {
    ThemePost: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemePost.vue"),
  },
})
export default class Post extends ViewComponent {
  currentPost: PostDefinition | any = null;

  async beforeMount() {
    await this.initPostView();
  }

  async initPostView() {
    const locale = messagesModule.siteLanguage;

    const friendlyURL = this.$route.params.friendlyURL;
    const id = "" + this.$route.query.id;

    try {
      if (friendlyURL) {
        await postsModule.fetchPostByURL(
          new ContentParams(locale, "", friendlyURL, this.$route.fullPath)
        );
      } else if (id) {
        await postsModule.fetchPostById(
          new ContentParams(locale, id, "", this.$route.fullPath)
        );
      }
    } catch (e) {
      await this.$router.push("/not-found");
    }

    this.currentPost = postsModule.currentPost;
  }
}
</script>
