<template>
  <theme-profile />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeProfile: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeProfile.vue"),
  },
})
export default class Profile extends ViewComponent {}
</script>
