<template>
  <theme-register :currentAgreement="currentAgreement" />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import AgreementViewComponent from "@/components/AgreementViewComponent";

@Component({
  components: {
    ThemeRegister: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeRegister.vue"),
  },
})
export default class Register extends AgreementViewComponent {
  async beforeMount() {
    await super.beforeMount();
  }
}
</script>
