<template>
  <theme-registration-confirm />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeRegistrationConfirm: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ThemeRegistrationConfirm.vue"
      ),
  },
})
export default class RegistrationConfirm extends ViewComponent {}
</script>
