<template>
  <theme-user-settings />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeUserSettings: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ThemeUserSettings.vue"
      ),
  },
})
export default class UserSettings extends ViewComponent {}
</script>
