<template>
  <theme-dashboard />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeDashboard: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ThemeDashboard.vue"
      ),
  },
})
export default class Dashboard extends ViewComponent {}
</script>
