<template>
  <theme-groups />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeGroups: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeGroups.vue"),
  },
})
export default class Groups extends ViewComponent {}
</script>
