<template>
  <!-- No multi-language support at this stage. -->
  <v-card color="card" class="loading-window mx-auto">
    <v-card-text>
      <div class="wolf-and-raven"></div>
      <br />
      <div class="mx-auto text-md-center">
        <span class="aw-logo-title-arctic-small">Arctic</span>
        <span class="aw-logo-title-wolf-small">Wolf</span>
      </div>
      <hr />
      <div v-if="loadingApi">
        <div v-if="loadingApiStatus">
          <strong>Arctic Wolf is starting up ...</strong>
          <v-progress-linear height="6px" :value="loadingPercentage" reactive />
          <div>
            Components:
            {{ loadingApiStatus.current }} / {{ loadingApiStatus.max }} [
            {{ loadingPercentage }}% ]
          </div>
        </div>
        <div v-else>API is NOT available!</div>
      </div>
      <div v-else-if="loadingClient && !loadingApi">
        <div>
          <strong>Loading Arctic Wolf client ...</strong>
          <div class="text-center">
            <div class="cog-group">
              <div class="three-cogs fa-2x">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";
import { LoadingStatusDefinition } from "@/definitions/LoadingStatusDefinition";
import systemModule from "@/modules/SystemModule";

@Component
export default class Loading extends ViewComponent {
  loadingApi: boolean = true;
  loadingApiStatus: LoadingStatusDefinition | any = null;
  loadingClient: boolean = true;
  loadingPercentage: string = "";

  beforeMount() {
    this.$root.$on("updateLoadingStatus", () => {
      this.loadingApi = systemModule.loadingApi;
      this.loadingApiStatus = systemModule.loadingApiStatus;
      this.loadingClient = systemModule.loadingClient;
      this.loadingPercentage = (
        (this.loadingApiStatus.current / this.loadingApiStatus.max) *
        100
      ).toFixed(2);
    });
  }
}
</script>

<style lang="scss" scoped>
.loading-window {
  margin-top: 70px;
}

.wolf-and-raven {
  background-image: url("../assets/images/wolf_and_raven.jpg");
  width: 900px;
  height: 593px;
}

.aw-logo-title-arctic-small {
  font-family: "Merriweather", serif;
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: -3.2px;
  color: #337ab7;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 0 0 9px #000000;
}

.aw-logo-title-wolf-small {
  font-family: "Merriweather", serif;
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: -3.2px;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 0 0 9px #000000;
}

.style-light-loading {
  background-color: white;
  color: black;
}

.style-dark-loading {
  background-color: black;
  color: #c7c7c7;
}

.three-cogs {
  position: relative;
  > .fa:nth-child(1) {
    animation-duration: 4s;
  }
  > .fa:nth-child(2),
  > .fa:nth-child(3) {
    position: absolute;
    top: -0.2em;
    right: -0.45em;
    animation-direction: reverse;
    animation-duration: 2s;
  }
  > .fa:nth-child(3) {
    top: auto;
    bottom: -0.2em;
  }
}

.cog-group.div {
  margin: 20px;
}

.cog-group {
  height: 100%;
  width: 100%;
  color: #337ab7;
}

.cog-group {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
