<template>
  <theme-messages />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeMessages: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeMessages.vue"),
  },
})
export default class Messages extends ViewComponent {}
</script>
