<template>
  <theme-not-found />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeNotFound: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeNotFound.vue"),
  },
})
export default class NotFound extends ViewComponent {}
</script>
