<template>
  <theme-pages />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemePages: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemePages.vue"),
  },
})
export default class Pages extends ViewComponent {}
</script>
