<template>
  <theme-posts />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemePosts: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemePosts.vue"),
  },
})
export default class Posts extends ViewComponent {}
</script>
