<template>
  <div>Redirecting ...</div>
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";
import { ACCESS_TOKEN } from "@/modules/AuthModule";

@Component
export default class RedirectedLogin extends ViewComponent {
  beforeMount() {
    const token = this.$route.query.token;
    localStorage.setItem(ACCESS_TOKEN, "" + token);
    this.$router.push("/", () => {
      window.location.reload();
    });
  }
}
</script>
