<template>
  <theme-router-layout />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeRouterLayout: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ThemeRouterLayout.vue"
      ),
  },
})
export default class RouterLayoutView extends ViewComponent {}
</script>
