<template>
  <theme-system />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeSystem: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeSystem.vue"),
  },
})
export default class System extends ViewComponent {}
</script>
