<template>
  <theme-themes />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeThemes: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeThemes.vue"),
  },
})
export default class Themes extends ViewComponent {}
</script>
