<template>
  <theme-users />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeUsers: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeUsers.vue"),
  },
})
export default class Users extends ViewComponent {}
</script>
