<template>
  <theme-widgets />
</template>

<script lang="ts">
import ViewComponent from "@/components/ViewComponent";
import { Component } from "vue-property-decorator";

@Component({
  components: {
    ThemeWidgets: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeWidgets.vue"),
  },
})
export default class Widgets extends ViewComponent {}
</script>
