<template>
  <theme-footer />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import UIComponent from "@/components/UIComponent";

@Component({
  components: {
    ThemeFooter: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "../../theme/ui/ThemeFooter.vue"
      ),
  },
})
export default class FooterComponent extends UIComponent {}
</script>
