<template>
  <theme-header />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import UIComponent from "@/components/UIComponent";

@Component({
  components: {
    ThemeHeader: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "../../theme/ui/ThemeHeader.vue"
      ),
  },
})
export default class HeaderComponent extends UIComponent {}
</script>
