<template>
  <theme-sidebar />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import UIComponent from "@/components/UIComponent";

@Component({
  components: {
    ThemeSidebar: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "../../theme/ui/ThemeSidebar.vue"
      ),
  },
})
export default class SidebarComponent extends UIComponent {}
</script>
