<template>
  <div>
    <!-- Alert -->
    <alert-template
      :alert-message="crudAlertMessage"
      :alert-color="crudAlertColor"
    />

    <v-row>
      <!-- List crud template fields. (left) -->
      <v-col cols="12" sm="12" md="12" lg="8">
        <v-subheader v-if="leftColumnHeadline" class="crud-form-headline">
          {{ leftColumnHeadline }}
        </v-subheader>
        <crud-form-field-template
          v-for="(field, index) in crudFormFields['left']"
          :key="index"
          :field="field"
          :crudInitialValues="crudInitialValues"
          @updateField="updateField"
        />
      </v-col>

      <!-- List crud template fields. (right) -->
      <v-col cols="12" sm="12" md="12" lg="4">
        <v-subheader v-if="rightColumnHeadline" class="crud-form-headline">
          {{ rightColumnHeadline }}
        </v-subheader>
        <crud-form-field-template
          v-for="(field, index) in crudFormFields['right']"
          :key="index"
          :field="field"
          :crudInitialValues="crudInitialValues"
          @updateField="updateField"
        />
      </v-col>

      <!-- Action Button -->
      <v-col cols="12" sm="12" md="12" lg="8">
        <v-btn
          color="primary"
          @click="$emit(crudAction)"
          v-text="crudActionButtonText"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import FormField from "@/definitions/FormField";

@Component
export default class CrudFormTemplate extends TemplateComponent {
  @Prop({ type: String as () => string })
  crudAlertMessage!: string;

  @Prop({ type: String as () => string })
  crudAlertColor!: string;

  @Prop({ type: Array as () => Array<FormField>[] })
  crudFormFields!: Array<FormField>[];

  @Prop({ type: String as () => string, default: undefined })
  leftColumnHeadline!: string;

  @Prop({ type: String as () => string, default: undefined })
  rightColumnHeadline!: string;

  @Prop({ type: String as () => string })
  crudActionButtonText!: string;

  @Prop({ type: String as () => string })
  crudAction!: string;

  @Prop()
  crudInitialValues!: Map<string, any>;

  updateField(fieldName: any, fieldValue: any) {
    this.$emit("update:" + fieldName, fieldValue);
  }
}
</script>

<style lang="scss">
.crud-form-headline {
  font-size: large;
  font-weight: bold;
}
</style>
