<template>
  <v-col
    cols="12"
    sm="12"
    md="12"
    :class="field.wrapperCSS ? field.wrapperCSS : ''"
  >
    <v-label v-if="field.label">{{ field.label }}</v-label>

    <v-menu
      v-if="field.type === 'birth-date-picker'"
      ref="birthDateMenu"
      v-model="showBirthDateMenu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="birthDate"
          :prepend-inner-icon="field.prependInnerIcon"
          readonly
          v-on="on"
          :placeholder="field.placeholder"
          :append-icon="field.appendIcon"
          @click:append="$emit('append')"
          solo
        />
      </template>
      <v-date-picker
        ref="birthDatePicker"
        v-model="birthDate"
        :max="new Date().toISOString().substr(0, 10)"
        min="1900-01-01"
        @change="saveBirthDate($event, field)"
      />
    </v-menu>

    <v-textarea
      v-else-if="field.type === 'textarea'"
      :prepend-inner-icon="field.prependInnerIcon"
      @input="onInputChange(field, $event)"
      :value="getFieldValue(field)"
      :placeholder="field.placeholder"
      :type="field.type"
      :append-icon="field.appendIcon"
      @click:append="$emit('append')"
      solo
    />

    <tiptap-editor
      v-else-if="field.type === 'editor'"
      @input="onInputChange(field, $event)"
      :value="getFieldValue(field)"
      :placeholder="field.placeholder"
    />

    <v-item-group v-else-if="field.type === 'checkBoxGroup'">
      <v-checkbox
        v-for="(checkBox, index) in field.checkBoxGroupOptions"
        :key="index"
        :label="checkBox.text"
        v-model="checkBoxGroupValues"
        :value="getFieldValue(field, checkBox.value)"
        hide-details
      />
    </v-item-group>

    <v-checkbox
      v-else-if="field.type === 'checkbox'"
      v-model="checkboxValue"
      :value="getFieldValue(field)"
      @click:append="$emit('append')"
      hide-details
    />

    <v-text-field
      v-else
      :prepend-inner-icon="field.prependInnerIcon"
      @input="onInputChange(field, $event)"
      :value="getFieldValue(field)"
      :placeholder="field.placeholder"
      :type="field.type"
      :append-icon="field.appendIcon"
      @click:append="$emit('append')"
      solo
    />
  </v-col>
</template>

<script lang="ts">
import { Component, Prop, Watch } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import CrudFormField from "@/definitions/CrudFormField";

@Component
export default class CrudFormFieldTemplate extends TemplateComponent {
  @Prop()
  field!: CrudFormField;

  @Prop()
  crudInitialValues!: Map<string, any>;

  showBirthDateMenu: boolean = false;
  birthDate: string = this.getValueBirthDate();
  checkBoxGroupValues: Array<Object> | null = null;
  checkboxValue: boolean | null = null;

  @Watch("showBirthDateMenu")
  birthDateMenuWatch(val) {
    val &&
      setTimeout(
        () => ((this.$refs.birthDatePicker as any).activePicker = "YEAR")
      );
  }

  saveBirthDate(date, field: CrudFormField) {
    (this.$refs.birthDateMenu as any).save(date);
    this.$emit("input", date);
    this.$emit("updateField", field.field, date);
  }

  getValueBirthDate(): string {
    try {
      let date = new Date(this.getFieldValue(this.field));
      return new Date(
        date.getTime() + Math.abs(date.getTimezoneOffset() * 60000)
      )
        .toISOString()
        .substr(0, 10);
    } catch (e) {
      // ignore
      return "1970-01-01";
    }
  }

  onInputChange(field: CrudFormField, event: any) {
    switch (field.type) {
      case "checkbox":
        this.$emit("updateField", field.field, this.checkboxValue);
        break;

      default:
        this.$emit("updateField", field.field, event);
        break;
    }
  }

  getFieldValue(field: CrudFormField, fallbackValue?: any) {
    if (!this.crudInitialValues) return "";

    const fieldValue = this.crudInitialValues.get(field.field);

    if (field.type === "checkBoxGroup") {
      if (this.checkBoxGroupValues === null) {
        this.checkBoxGroupValues = fieldValue;
      }
      this.$emit("updateField", field.field, this.checkBoxGroupValues);
      return fallbackValue;
    } else if (field.type === "checkbox") {
      if (this.checkboxValue === null) {
        this.checkboxValue = fieldValue;
      }
      this.$emit("updateField", field.field, this.checkboxValue);
      return fallbackValue;
    }

    this.$emit("updateField", field.field, fieldValue);
    return fieldValue;
  }
}
</script>
