<template>
  <div>
    <!-- Search -->
    <v-card-title v-if="crudSearchWindow">
      <span>{{ crudSearchResultText }}</span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="crudSearchParam"
        append-icon="fa fa-search"
        :label="crudSearchPlaceholder"
        single-line
        hide-details
        solo
        @keyup.enter="$emit('crudSearch', crudSearchParam)"
        @click:append="$emit('crudSearch', crudSearchParam)"
      ></v-text-field>
    </v-card-title>

    <!-- Data Table -->
    <v-data-table
      class="crud-table elevation-1"
      :headers="crudHeaders"
      :items="crudFields"
      hide-default-footer
    >
      <template
        v-for="(header, i) in crudHeaders"
        v-slot:[`item.${header.value}`]="{ item }"
      >
        <div :key="i">
          <slot
            :name="`field:${header.value}`"
            :value="item[header.value]"
            :item="item"
          >
            <div v-if="header.crudFormatter && !header.crudAction">
              {{ getFormatter(header.crudFormatter, item[header.value]) }}
            </div>

            <div v-else-if="header.imageCSS">
              <div
                v-if="item[header.value]"
                :class="header.imageCSS + ' ' + item[header.value]"
              />
              <img
                v-else
                :class="header.imageCSS"
                :src="'assets/images/' + header.defaultImage"
              />
            </div>

            <div v-else-if="header.crudAction">
              <v-btn
                color="primary"
                icon
                @click="
                  $emit(
                    header.crudAction,
                    item[header.idName] ? item[header.idName] : item.id
                  )
                "
              >
                <v-icon v-if="header.crudFormatter">
                  {{ getFormatter(header.crudFormatter, item[header.value]) }}
                </v-icon>
                <v-icon v-else>{{ header.crudIcon }}</v-icon>
              </v-btn>
            </div>

            <div v-else>{{ item[header.value] }}</div>
          </slot>
        </div>
      </template>
    </v-data-table>

    <!-- Page Navigation -->
    <v-pagination
      :length="crudPageCount ? Number(crudPageCount) : 1"
      :value="$route.query.page ? Number($route.query.page) : 1"
      total-visible="10"
      circle
      next-icon="navigate_next"
      prev-icon="navigate_before"
      @input="onPageChange($event)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";

@Component
export default class CrudTableTemplate extends TemplateComponent {
  @Prop({ type: Array as () => Array<Object> })
  crudHeaders!: Array<Object>;

  @Prop({ type: Array as () => Array<Object> })
  crudFields!: Array<Object>;

  @Prop({ default: 1 })
  crudPageCount!: number;

  @Prop({ default: 1 })
  crudTotalCount!: number;

  @Prop({ default: false })
  crudSearchWindow!: boolean;

  @Prop({ type: String as () => string, default: undefined })
  crudSearchPlaceholder!: string;

  @Prop({ type: String as () => string, default: undefined })
  crudSearchResultText!: string;

  crudSearchParam: string = "";

  getFormatter(methodName: string, value: any) {
    return this[methodName](value);
  }

  dateTimeFormatter(value: string) {
    return new Date(value).toISOString();
  }

  limitedContentFormatter(value: string) {
    return value.substr(0, 50) + " ...";
  }

  toggleIconFormatter(value: boolean) {
    return value ? "fa fa-toggle-on" : "fa fa-toggle-off";
  }

  async onPageChange(page: string) {
    await this.$router.push({ query: { page: page } }).catch((e) => e);
  }
}
</script>

<style lang="scss">
.crud-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
