<template>
  <v-app-bar
    color="top-navbar"
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    fixed
    dark
    app
    class="common-navbar"
  >
    <!-- Home -->
    <tooltip-button-template
      color="top-navbar lighten-1"
      icon="home"
      :message="$t('message.navbar_home')"
      :href="siteHomeUrl"
      :responsive="true"
    />

    <!-- Visit Site -->
    <tooltip-button-template
      color="top-navbar lighten-1"
      icon="web_asset"
      :message="$t('message.navbar_visit_site')"
      :href="siteVisitUrl"
      :responsive="true"
    />

    <!-- Plugin Navbar Links -->
    <plugin-navbar-links-template />

    <!-- Divider -->
    <v-spacer v-if="$vuetify.breakpoint.mdAndUp" />

    <!-- Theme Color Selector -->
    <theme-color-selector-template />

    <!-- Language Selector -->
    <language-selector-template />

    <!-- Notifications (Logged in.) -->
    <notifications-template />

    <!-- Top Menu Items (Logged in.) -->
    <top-menu-items-template />
  </v-app-bar>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import authModule, { ACCESS_TOKEN } from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";
import { UserDefinition } from "@/definitions/UserDefinition";

@Component
export default class NavbarTemplate extends TemplateComponent {
  siteHomeUrl: string = "";
  siteVisitUrl: string = "";

  beforeMount() {
    this.siteHomeUrl =
      process.env.NODE_ENV === "production"
        ? this.siteUrl + "/admin/"
        : "http://localhost:3001/";
    this.siteVisitUrl =
      process.env.NODE_ENV === "production"
        ? this.siteUrl
        : "http://localhost:3000/";
  }
}
</script>

<style lang="scss"></style>
