<template>
  <!-- Notifications (Logged in.) -->
  <v-menu
    v-if="isAuthenticated && myNotifications"
    :close-on-content-click="!(myNotifications && myNotifications.length > 0)"
  >
    <template v-slot:activator="{ on: menu }">
      <v-btn icon dark v-on="{ ...menu }">
        <v-badge
          overlap
          :content="myNotifications.length"
          :value="myNotifications.length"
        >
          <v-icon>fa fa-bell</v-icon>
        </v-badge>
      </v-btn>
    </template>

    <v-list
      v-if="myNotifications && myNotifications.length > 0"
      class="notifications-panel overflow-y-auto"
    >
      <v-list-item-group>
        <template v-for="(notification, index) in myNotifications">
          <v-list-item :key="notification.title">
            <template>
              <v-list-item-avatar>
                <v-icon>{{ notification.icon }}</v-icon>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title class="notifications-title font-weight-bold">
                  {{ notification.title }}
                </v-list-item-title>
                <v-list-item-subtitle class="notifications-date-time">
                  <v-icon>fa fa-clock-o</v-icon>
                  {{ new Date(notification.dateTime).toISOString() }}
                </v-list-item-subtitle>

                <span class="notifications-message">
                  {{ notification.message }}
                </span>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn icon @click="dismissNotification(notification.id)">
                  <v-icon>fa fa-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </template>
          </v-list-item>

          <v-divider
            v-if="index + 1 < myNotifications.length"
            :key="index"
          ></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
    <v-list v-else>
      <v-list-item-group>
        <v-list-item>
          {{ $t("message.notifications_no_notifications") }}
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import authModule from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";
import { UserDefinition } from "@/definitions/UserDefinition";
import { NotificationDefinition } from "@/definitions/NotificationDefinition";

@Component
export default class NotificationsTemplate extends TemplateComponent {
  isAuthenticated: boolean = false;
  currentUser: UserDefinition | any = null;
  myNotifications: Array<NotificationDefinition> = [];

  beforeMount() {
    this.isAuthenticated = authModule.isAuthenticated;
    if (this.isAuthenticated) {
      this.currentUser = usersModule.currentUser;
      this.myNotifications = usersModule.myNotifications;
    }
  }

  async dismissNotification(id: number) {
    await usersModule.removeNotification(id);
    await usersModule.fetchMyNotifications();
    this.myNotifications = usersModule.myNotifications;
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 320px) {
  .notifications-panel {
    height: 500px;
  }

  .notifications-title {
    width: 100%;
  }

  .notifications-date-time {
    width: 100%;
  }

  .notifications-message {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .notifications-panel {
    max-width: 500px;
    max-height: 800px;
  }
}
</style>
