<template>
  <!-- Theme Color Selector -->
  <v-menu>
    <template v-slot:activator="{ on: menu }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn
            icon
            dark
            v-on="{ ...tooltip, ...menu }"
            @mouseenter="onMouseEnter()"
            @mouseleave="onMouseLeave()"
            @click="switchSiteThemeColor()"
          >
            <v-icon>
              {{ siteThemeColorIcon }}
            </v-icon>
          </v-btn>
        </template>
        <span>
          {{ siteThemeColor }}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          {{ siteThemeColorReversed }}
        </span>
      </v-tooltip>
    </template>
  </v-menu>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { AVAILABLE_THEME_COLORS } from "@/theme";
import systemModule from "@/modules/SystemModule";

@Component
export default class ThemeColorSelectorTemplate extends TemplateComponent {
  siteThemeColor: string = systemModule.siteThemeColor;
  siteThemeColorIcon: string = this.getIcon(systemModule.siteThemeColor);
  siteThemeColorReversed: string =
    systemModule.siteThemeColor === "dark" ? "light" : "dark";

  getSiteThemeColor(color: string): any {
    return AVAILABLE_THEME_COLORS.find((e) => e.color === color);
  }

  getIcon(color: string): string {
    const availableColor = this.getSiteThemeColor(color);
    return availableColor ? availableColor.icon : undefined;
  }

  onMouseEnter() {
    this.siteThemeColorIcon = this.getIcon(this.siteThemeColorReversed);
  }

  onMouseLeave() {
    this.siteThemeColorIcon = this.getIcon(this.siteThemeColor);
  }

  switchSiteThemeColor() {
    systemModule.setSiteThemeColor(this.siteThemeColorReversed);
    this.siteThemeColor = systemModule.siteThemeColor;
    this.siteThemeColorIcon = this.getIcon(systemModule.siteThemeColor);
    this.siteThemeColorReversed =
      systemModule.siteThemeColor === "dark" ? "light" : "dark";
    this.$root.$emit("initSiteThemeColor");
  }
}
</script>

<style lang="scss"></style>
