<template>
  <!-- Top Menu Items (Logged in.) -->
  <v-menu v-if="isAuthenticated && currentUser">
    <!-- User display name & profile picture -->
    <template v-slot:activator="{ on: menu }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn icon dark v-on="{ ...tooltip, ...menu }">
            <v-avatar size="32px">
              <img v-if="currentUser.imageUrl" :src="currentUser.imageUrl" />
              <div v-else class="default-user-image" />
            </v-avatar>
          </v-btn>
        </template>
        <span>{{ currentUser.displayName }}</span>
      </v-tooltip>
    </template>

    <!-- User Menu -->
    <v-list>
      <v-list-item :href="siteProfileUrl">
        <v-list-item-title>
          <i class="fa fa-fw fa-user"></i>
          <span>{{ $t("message.navbar_profile") }}</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item :href="siteUserSettingsUrl">
        <v-list-item-title>
          <i class="fa fa-fw fa-cog"></i>
          <span>{{ $t("message.navbar_settings") }}</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item :href="siteLogoutUrl">
        <v-list-item-title>
          <i class="fa fa-fw fa-power-off"></i>
          <span>{{ $t("message.navbar_logout") }}</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { UserDefinition } from "@/definitions/UserDefinition";
import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";
import authModule from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";

@Component
export default class TopMenuItemsTemplate extends TemplateComponent {
  regularRegistrationAllowed: boolean = false;
  isAuthenticated: boolean = false;
  currentUser: UserDefinition | any = null;
  hasAdminAuthority: boolean = false;
  siteProfileUrl: string = "";
  siteUserSettingsUrl: string = "";
  siteLogoutUrl: string = "";

  beforeMount() {
    this.siteProfileUrl =
      process.env.NODE_ENV === "production"
        ? this.siteUrl + "/#/profile/"
        : "http://localhost:3000/#/profile";
    this.siteUserSettingsUrl =
      process.env.NODE_ENV === "production"
        ? this.siteUrl + "/#/user-settings/"
        : "http://localhost:3000/#/user-settings";
    this.siteLogoutUrl =
      process.env.NODE_ENV === "production"
        ? this.siteUrl + "/#/logout/"
        : "http://localhost:3000/#/logout";

    this.regularRegistrationAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "regularRegistrationAllowed"
      ) === "true";

    this.isAuthenticated = authModule.isAuthenticated;
    if (this.isAuthenticated) {
      this.currentUser = usersModule.currentUser;
      this.hasAdminAuthority =
        this.currentUser.authorities.includes("ADMIN_SITE");
    }
  }
}
</script>

<style lang="scss">
.default-user-image {
  background-image: url("../../../assets/images/default_user.png");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}
</style>
