<p>Your privacy is important to us. It is $SITE_TITLE policy to respect your privacy regarding any information we may collect from you across our website, <a href="$SITE_URL">$SITE_URL</a>, and other sites we own and operate.</p>
<p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
<p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
<p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
<p>$SITE_TITLE in order to function uses your:</p>
<ul>
	<li>Email address (either via regular registration or SSO)</li>
	<li>SSO ID (if you use SSO)</li>
	<li>Username (the one you provided, or SSO ID)</li>
	<li>Display Name (the one you provided, or acquired by SSO)</li>
	<li>SSO profile URL, or the one you provided</li>
	<li>Birth Date, if you provided any (not mandatory)</li>
	<li>BIO, if you provided any (not mandatory)</li>
	<li>Browser's local storage & cookies</li>
</ul>
<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
<p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
<p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to <a href="/contact">contact</a> us.</p>
<p>This policy is effective as of 26 June 2018.</p>
<br><br><br>
<p><i>This document was created by: <a href="https://getterms.io">https://getterms.io</a></i></p>
