<template>
  <v-layout class="container-wrapper">
    <sidebar-component />
    <navbar-component />

    <v-main>
      <v-container class="content-container-wrapper" fluid>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" class="header-wrapper">
            <header-component />
          </v-col>

          <v-col cols="12" sm="12" md="12" lg="12" class="router-view-wrapper">
            <keep-alive>
              <router-view :key="$route.fullPath" />
            </keep-alive>
          </v-col>

          <v-col cols="12" sm="12" md="12" lg="12" class="footer-wrapper">
            <footer-component />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeRouterLayout extends ThemeComponent {}
</script>
