<template>
  <v-card color="card">
    <v-card-text>
      <user-list-template />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeUsers extends ThemeComponent {}
</script>
