<template>
  <messages-template />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeMessages extends ThemeComponent {}
</script>
