<template>
  <!-- Language Selector -->
  <v-menu>
    <template v-slot:activator="{ on: menu }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn icon dark v-on="{ ...tooltip, ...menu }">
            <v-icon>
              {{ currentLanguage.icon }}
            </v-icon>
          </v-btn>
        </template>
        <span>{{ currentLanguage.displayName }}</span>
      </v-tooltip>
    </template>

    <v-list single>
      <v-list-item
        v-for="(availableLanguage, index) in availableLanguages"
        :key="index"
        @click="selectLanguage(availableLanguage.language)"
      >
        <v-list-item-action>
          <v-checkbox
            :input-value="
              availableLanguage.language === currentLanguage.language
            "
          />
        </v-list-item-action>
        <v-list-item-title>
          <v-icon>{{ availableLanguage.icon }}</v-icon>
          <span> {{ availableLanguage.displayName }}</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { LanguageDefinition } from "@/definitions/LanguageDefinition";
import messagesModule from "@/modules/MessagesModule";

@Component
export default class LanguageSelectorTemplate extends TemplateComponent {
  currentLanguage: LanguageDefinition | any = null;
  availableLanguages: Array<LanguageDefinition> = [];

  async selectLanguage(language: string) {
    messagesModule.setSiteLanguage(language);
    await this.$root.$emit("initApplication");
  }

  beforeMount() {
    this.initLanguageSelector();
  }

  initLanguageSelector() {
    this.currentLanguage = messagesModule.availableLanguage;
    this.availableLanguages = messagesModule.availableLanguages;
  }
}
</script>

<style lang="scss"></style>
