<template>
  <!-- Plugin Navbar Links -->
  <v-row class="plugin-navbar-links">
    <menu-button-template
      class="navbar-link"
      color="top-navbar lighten-1"
      v-for="(link, index) in pluginNavbarLinks"
      :key="index"
      :link="link"
    />
  </v-row>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { LinkDefinition } from "@/definitions/LinkDefinition";
import pluginsModule from "@/modules/PluginsModule";

@Component
export default class PluginNavbarLinksTemplate extends TemplateComponent {
  pluginNavbarLinks: Array<LinkDefinition> = [];

  beforeMount() {
    this.pluginNavbarLinks = pluginsModule.pluginNavbarLinks.slice(
      0,
      this.$vuetify.breakpoint.mdAndUp ? 3 : 1
    );
  }
}
</script>

<style lang="scss" scoped>
.plugin-navbar-links {
  padding-left: 15px;
}

.navbar-link {
  padding-left: 5px;
}
</style>
