<template>
  <!-- Top Menu Items (Logged in.) -->
  <v-menu v-if="isAuthenticated && currentUser">
    <!-- User display name & profile picture -->
    <template v-slot:activator="{ on: menu }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn icon dark v-on="{ ...tooltip, ...menu }">
            <v-avatar size="32px">
              <img v-if="currentUser.imageUrl" :src="currentUser.imageUrl" />
              <div v-else class="default-user-image" />
            </v-avatar>
          </v-btn>
        </template>
        <span>{{ currentUser.displayName }}</span>
      </v-tooltip>
    </template>

    <!-- User Menu -->
    <v-list>
      <v-list-item to="/profile">
        <v-list-item-title>
          <i class="fa fa-fw fa-user"></i>
          <span>{{ $t("message.navbar_profile") }}</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item to="/user-settings">
        <v-list-item-title>
          <i class="fa fa-fw fa-cog"></i>
          <span>{{ $t("message.navbar_settings") }}</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item to="/logout">
        <v-list-item-title>
          <i class="fa fa-fw fa-power-off"></i>
          <span>{{ $t("message.navbar_logout") }}</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>

  <!-- Top Menu Items (Not logged in.) -->
  <div v-else>
    <tooltip-button-template
      color="top-navbar lighten-1"
      icon="fa-sign-in"
      :message="$t('message.navbar_login')"
      to="/login"
      :responsive="true"
    />
    <tooltip-button-template
      color="top-navbar lighten-1"
      icon="fa fa-user-plus"
      :message="$t('message.navbar_register')"
      v-if="regularRegistrationAllowed"
      to="/register"
      :responsive="true"
    />
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import TemplateComponent from "@/components/TemplateComponent";
import { UserDefinition } from "@/definitions/UserDefinition";
import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";
import authModule from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";

@Component
export default class TopMenuItemsTemplate extends TemplateComponent {
  regularRegistrationAllowed: boolean = false;
  isAuthenticated: boolean = false;
  currentUser: UserDefinition | any = null;
  hasAdminAuthority: boolean = false;

  beforeMount() {
    this.regularRegistrationAllowed =
      getPropertyValue(
        serverSettingsModule.serverSettings,
        "regularRegistrationAllowed"
      ) === "true";

    this.isAuthenticated = authModule.isAuthenticated;
    if (this.isAuthenticated) {
      this.currentUser = usersModule.currentUser;
      this.hasAdminAuthority =
        this.currentUser.authorities.includes("ADMIN_SITE");
    }
  }
}
</script>

<style lang="scss">
.default-user-image {
  background-image: url("../../../assets/images/default_user.png");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}
</style>
