<template>
  <not-found v-if="notFound" />
  <div v-else>Routing ...</div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import friendlyURLRouterModule from "@/modules/FriendlyURLRouterModule";
import { ContentType } from "@/definitions/enums/ContentType";
import NotFound from "@/views/NotFound.vue";
import { ContentParams } from "@/definitions/ContenttDefinition";
import DefaultComponent from "@/components/DefaultComponent";
import messagesModule from "@/modules/MessagesModule";

@Component({
  components: { NotFound },
})
export default class FriendlyURLRouter extends DefaultComponent {
  notFound: boolean = false;

  async beforeMount() {
    const locale = messagesModule.siteLanguage;

    const friendlyURL = this.$route.params.friendlyURL;
    if (friendlyURL) {
      await friendlyURLRouterModule.fetchFriendlyURLRouter(
        new ContentParams(locale, "", friendlyURL, this.$route.fullPath)
      );
      switch (friendlyURLRouterModule.contentType) {
        case ContentType.PAGE:
          await this.$router.push("page/" + friendlyURL);
          break;
        case ContentType.POST:
          await this.$router.push("post/" + friendlyURL);
          break;
        default:
          this.notFound = true;
          break;
      }
    }
  }
}
</script>
