<template>
  <div>Logging out ...</div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import authModule, { AuthParams } from "@/modules/AuthModule";
import DefaultComponent from "@/components/DefaultComponent";

@Component
export default class Logout extends DefaultComponent {
  async mounted() {
    await authModule.logout(
      new AuthParams(this.$root, this.$router, this.$route, null)
    );
  }
}
</script>
