<template>
  <div>Redirecting ...</div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import authModule, { AuthParams } from "@/modules/AuthModule";
import DefaultComponent from "@/components/DefaultComponent";

@Component
export default class OAuth2RedirectHandler extends DefaultComponent {
  async beforeMount() {
    await authModule.oauth2Redirect(
      new AuthParams(this.$root, this.$router, this.$route, null)
    );
  }
}
</script>
