<template>
  <theme-styles />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import DefaultComponent from "@/components/DefaultComponent";

@Component({
  components: {
    ThemeStyles: () =>
      import(/* webpackChunkName: "theme/theme" */ "@/theme/ThemeStyles.vue"),
  },
})
export default class Styles extends DefaultComponent {}
</script>

<style lang="scss">
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
</style>
