<template>
  <v-card color="card">
    <v-card-text>
      <disclaimer-template
        :privacyPolicy="currentAgreement ? currentAgreement.privacyPolicy : ''"
        :termsOfService="
          currentAgreement ? currentAgreement.termsOfService : ''
        "
      />
      <login-form-template />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import AgreementThemeComponent from "@/components/AgreementThemeComponent";

@Component
export default class ThemeLogin extends AgreementThemeComponent {}
</script>
