<template>
  <v-card color="card">
    <v-card-text>
      <post-block-template :currentPost="currentPost" :postReadMore="false" />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { PostDefinition } from "@/definitions/PostDefinition";

@Component
export default class ThemePost extends ThemeComponent {
  @Prop({ type: Object as () => PostDefinition })
  currentPost!: PostDefinition;
}
</script>
