<template>
  <v-card color="card">
    <v-card-text>
      <page-block-template :currentPage="currentPage" />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component, Prop } from "vue-property-decorator";
import { PageDefinition } from "@/definitions/PageDefinition";

@Component
export default class ThemePage extends ThemeComponent {
  @Prop({ type: Object as () => PageDefinition })
  currentPage!: PageDefinition;
}
</script>
