<template>
  <v-card color="card">
    <v-card-text>
      {{ $t("message.content_no_page_content") }}
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ThemeComponent from "@/components/ThemeComponent";

@Component
export default class ThemeNotFound extends ThemeComponent {}
</script>
