<template>
  <v-card color="card">
    <v-card-text>
      <registration-confirm-template />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import ThemeComponent from "@/components/ThemeComponent";
import { Component } from "vue-property-decorator";

@Component
export default class ThemeRegistrationConfirm extends ThemeComponent {}
</script>
