<template>
  <v-app :key="application" id="app" :class="appClass">
    <!-- Load styles before anything. -->
    <styles />

    <!-- Display loading view if the API is not available or haven't booted up yet. -->
    <loading v-if="loading" />

    <!-- Display router view if the API has finished loading. -->
    <router-layout v-else />
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import serverSettingsModule, {
  getPropertyValue,
} from "@/modules/ServerSettingsModule";
import messagesModule from "@/modules/MessagesModule";
import i18n from "@/i18n";
import { addCSS, addScript, sleep } from "@/util";
import systemModule from "@/modules/SystemModule";
import pluginsModule from "@/modules/PluginsModule";
import authModule, { ACCESS_TOKEN } from "@/modules/AuthModule";
import usersModule from "@/modules/UsersModule";
import Loading from "@/views/Loading.vue";
import RouterLayout from "@/views/RouterLayout.vue";
import Styles from "@/components/Styles.vue";

@Component({
  components: { Styles, RouterLayout, Loading },
})
export default class App extends Vue {
  application: number = 1_000;
  loading: boolean = true;
  appClass: string = "";

  async beforeMount() {
    this.initEventHooks();

    await this.initApplication();
  }

  initEventHooks() {
    this.$root.$on("initSiteThemeColor", () => {
      this.initSiteThemeColor();
    });

    this.$root.$on("updateLoadingStatus", () => {
      this.loading = systemModule.loadingApi || systemModule.loadingClient;
    });

    this.$root.$on("initApplication", async () => {
      await this.initApplication();
      this.application += 1;
    });
  }

  async initApplication() {
    this.initSiteThemeColor();

    await this.checkApiAvailability();

    systemModule.setLoadingClient(true);

    await this.loadCurrentlyLoggedInUser();

    await this.initServerSettings();
    await this.initI18N();
    await this.initPlugins();

    document.title = systemModule.siteTitle;

    systemModule.setLoadingClient(false);
    this.$root.$emit("updateLoadingStatus");
  }

  initSiteThemeColor() {
    const siteThemeColor: string = systemModule.siteThemeColor;
    this.appClass = "style-" + siteThemeColor;
    this.$vuetify.theme.dark = siteThemeColor === "dark";
  }

  async checkApiAvailability() {
    while (systemModule.loadingApi) {
      try {
        await systemModule.fetchLoading();
        await systemModule.fetchLoadingStatus();

        this.$root.$emit("updateLoadingStatus");

        if (systemModule.loadingApi) await sleep(1000);
      } catch (e) {
        systemModule.setLoadingApi(true);
        this.$root.$emit("updateLoadingStatus");
        window.console.log("API is NOT available!");
        await sleep(2500);
      }
    }
  }

  async initServerSettings() {
    await serverSettingsModule.fetchServerSettings();

    systemModule.setSiteTitle(
      getPropertyValue(serverSettingsModule.serverSettings, "siteTitle")
    );

    systemModule.setSiteUrl(
      getPropertyValue(serverSettingsModule.serverSettings, "siteUrl")
    );
  }

  async initI18N() {
    const locale = messagesModule.siteLanguage;

    await messagesModule.fetchLanguage(locale);
    await messagesModule.fetchLanguages();
    await messagesModule.fetchMessages(locale);

    i18n.locale = locale;
    i18n.fallbackLocale = locale;
    i18n.setLocaleMessage(locale, messagesModule.messages);
  }

  async initPlugins() {
    const locale = messagesModule.siteLanguage;

    await pluginsModule.fetchPluginCSS(locale);
    await pluginsModule.fetchPluginJavaScripts(locale);

    pluginsModule.pluginCSS.forEach((plugin) => addCSS(plugin.href));
    pluginsModule.pluginJavaScripts.forEach((plugin) => addScript(plugin.src));

    await pluginsModule.fetchPluginNavbarLinks(locale);
  }

  async loadCurrentlyLoggedInUser() {
    const token = localStorage.getItem(ACCESS_TOKEN);
    if (token) {
      try {
        await authModule.authenticateWithToken(token);
        await usersModule.fetchCurrentUser();
        await usersModule.fetchMyNotifications();
      } catch (e) {
        authModule.clearAuthentication();
      }
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/dist/vuetify";

@import "~material-design-icons-iconfont/dist/material-design-icons.css";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~flag-icon-css/css/flag-icon.css";

#app {
}
</style>
