<template>
  <theme-navbar />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import UIComponent from "@/components/UIComponent";

@Component({
  components: {
    ThemeNavbar: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ui/ThemeNavbar.vue"
      ),
  },
})
export default class NavbarComponent extends UIComponent {}
</script>
