<template>
  <theme-widget :widgets="widgets" />
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import UIComponent from "@/components/UIComponent";
import widgetsModule from "@/modules/WidgetsModule";
import { WidgetDefinition } from "@/definitions/WidgetDefinition";

@Component({
  components: {
    ThemeWidget: () =>
      import(
        /* webpackChunkName: "theme/theme" */ "@/theme/ui/ThemeWidget.vue"
      ),
  },
})
export default class WidgetComponent extends UIComponent {
  widgets: Array<WidgetDefinition> = [];

  beforeMount() {
    this.initWidgetComponent();
  }

  initWidgetComponent() {
    this.widgets = widgetsModule.widgets;
  }
}
</script>
